<template>
    <q-card flat dense class="q-dialog-plugin">
      <q-card-section>
        <q-form @submit="update" class="q-gutter-md">
          <q-input
            filled
            :color="$appConfig.color"
            dense
            v-model="profile.name"
            label="Name"
            lazy-rules
            :rules="[ val => val && val.length > 0 || 'Please enter valid name']"
          />

          <q-input
            filled
            dense
            :color="$appConfig.color"
            v-model="profile.phone"
            label="Phone"
            mask="(###) ### - ####"
            fill-mask
            :rules="[ val => val && val.length > 0 || 'Please enter valid phone number']"
          />

          <q-input
            filled
            dense
            :color="$appConfig.color"
            type="email"
            v-model="profile.email"
            label="Email"
            lazy-rules
            :rules="[ val => val && val.length > 0 || 'Please enter valid email']"
          />

          <q-input
            filled
            dense
            disable
            :color="$appConfig.color"
            v-model="role.name"
            label="Account type"
            lazy-rules
          />

          <div align="left">
            <q-btn label="Save" type="submit" :color="$appConfig.color" class="q-ml-sm" />
          </div>
        </q-form>
      </q-card-section>
    </q-card>
</template>

<script>
import { mapState, mapActions, mapGetters } from "vuex";
import { notification } from "../../../../../mixins/notification";
export default {
  mixins: [notification],
  data() {
    return {
      profile: {}
    };
  },
  computed: {
    ...mapGetters({ getUser: "session/getUser" }),
    ...mapGetters({ getUserRole: "session/getRole" }),
  },
  methods: {
    ...mapActions({ updateUser: "session/update" }),
    ...mapActions({ logoutUser: "session/logout" }),
    update(id) {
      this.$q
        .dialog({
          title: "Confirm update?",
          message: "Changing your details will be log you out of system ?",
          cancel: true,
          color: "positive",
          persistent: true
        })
        .onOk(() => {
          this.$q.loading.show({
            message:
              '<b>Processing</b> your request .<br/><span class="text-primary">Hang on...</span>'
          });
          this.updateUser(this.profile)
            .then(
              response => {
                this.success(
                  "You have succesfully updated your account details"
                );
                this.logoutUser().then(
                  response => {
                    this.$router.push({ path: "/login" });
                  },
                  reason => {}
                );
              },
              reason => {
                this.error(
                  "Sorry unexpected error , failed to update your account details ( " +
                    reason +
                    " )"
                );
              }
            )
            .finally(() => {
              this.$q.loading.hide();
            });
        });
    }
  },
  beforeMount() {
    this.profile = this.getUser;
    this.role = this.getUserRole
  },

};
</script>