<template>
  <q-page class>
    <div class="q-pa-md">
      <div class="q-pa-md q-gutter-sm">
        <q-breadcrumbs :active-color="$appConfig.color">
          <q-breadcrumbs-el to="/coordinator" label="Home" icon="home" />
          <q-breadcrumbs-el to="/coordinator/accounts" label="Accounts" />
          <q-breadcrumbs-el to="#" label="Manage" />
        </q-breadcrumbs>
      </div>
      <q-splitter
        v-model="splitterModel"
        :limits="[5, 20]"
        before-class="overflow-hidden"
        after-class="overflow-hidden"
        separator-class="bg-black"
        style="height: 100%"
      >
        <template v-slot:before>
          <q-tabs
            v-if="splitterModel <= 5"
            v-model="tab"
            vertical
            :active-color="$appConfig.color"
            :indicator-color="$appConfig.color"
            no-caps
            inline-label
            class="text-grey-8 shadow-2"
          >
            <q-tab
              name="profile"
              label="P"
              icon="layers"
              style="justify-content:initial"
              exact
            />
            <q-tab
              name="assignment"
              label="A"
              icon="layers"
              style="justify-content:initial"
              exact
            />
            <q-tab
              name="security"
              label="S"
              icon="layers"
              style="justify-content:initial"
              exact
            />
            <q-tab
              name="logs"
              label="L"
              icon="layers"
              style="justify-content:initial"
              exact
            />
          </q-tabs>
          <q-tabs
            v-else
            v-model="tab"
            vertical
            :active-color="$appConfig.color"
            :indicator-color="$appConfig.color"
            no-caps
            inline-label
            class="text-grey-8 shadow-2"
          >
            <q-tab
              name="profile"
              icon="layers"
              label="Profile"
              style="justify-content:initial"
              exact
            />
            <q-tab
              name="assignment"
              icon="layers"
              label="Assignment"
              style="justify-content:initial"
              exact
            />

            <q-tab
              name="security"
              icon="layers"
              label="Security"
              style="justify-content:initial"
              exact
            />

            <q-tab
              name="logs"
              icon="layers"
              label="Logs"
              style="justify-content:initial"
              exact
            />
          </q-tabs>
        </template>
        <!-- <template v-slot:separator>
          <q-avatar      :color="$appConfig.color" text-color="white" size="md" icon="drag_indicator" />
        </template>-->

        <template class="row justify-center" v-slot:after>
          <div>
            <q-tab-panels
              v-model="tab"
              animated
              transition-prev="jump-up"
              transition-next="jump-up"
            >
              <q-tab-panel name="profile">
                <q-card-section
                  :class="'bg-' + $appConfig.color + ' text-white'"
                >
                  <div class="text-subtitle2">Profile</div>
                </q-card-section>
                <q-separator class="q-my-md" />
                <p class="text-subtitle1 q-ml-md">Update profile details</p>
                <profile-account
                  v-on:update-account="update"
                  v-bind:account="data"
                ></profile-account>
                <q-separator class="q-my-md" />
                <p class="text-subtitle1 q-ml-md">Delete account</p>
                <p class="q-ml-md text-weight-light">
                  Delete this account and all
                  <q-btn
                    label="Delete"
                    @click="remove(data.id)"
                    flat
                    :color="$appConfig.color"
                    class="q-ml-sm float-right"
                  />
                </p>
              </q-tab-panel>
              <q-tab-panel name="assignment">
                <q-card-section
                  :class="'bg-' + $appConfig.color + ' text-white'"
                >
                  <div class="text-subtitle2">Assignment</div>
                </q-card-section>
                <q-separator class="q-my-md" />
                <assignment-account
                  v-on:update-account="update"
                  v-bind:profile="data"
                ></assignment-account>
              </q-tab-panel>
              <q-tab-panel name="security">
                <q-card-section
                  :class="'bg-' + $appConfig.color + ' text-white'"
                >
                  <div class="text-subtitle2">Security</div>
                </q-card-section>
                <q-separator class="q-my-md" />
                <p class="text-subtitle1 q-ml-md">Change account password</p>
                <q-separator class="q-my-md" />
              </q-tab-panel>
              <q-tab-panel name="logs">
                <q-card-section
                  :class="'bg-' + $appConfig.color + ' text-white'"
                >
                  <div class="text-subtitle2">Logs</div>
                </q-card-section>
                <q-separator class="q-my-md" />
                <p class="q-ml-md text-weight-light">
                  <logs v-bind:profile="data"></logs>
                </p>
              </q-tab-panel>
            </q-tab-panels>
          </div>
        </template>
      </q-splitter>
      <!--modals--->
    </div>
  </q-page>
</template>
<script>
import profileAccount from "./components/profile";
import assignmentAccount from "./components/assignment";
import passwordUpdateAccount from "./components/password-update-account";
import { mapGetters, mapState, mapActions } from "vuex";
import { notification } from "../../../../mixins/notification";
import logs from "./components/logs";
export default {
  name: "ManageOrganisations",
  components: {
    profileAccount,
    assignmentAccount,
    logs
  },
  mixins: [notification],
  data() {
    return {
      id: "",
      tab: "profile",
      ratio: 16 / 9,
      medium: false,
      splitterModel: 15,
      data: {
        id: " ",
        phone: "",
        details: {},
        is_active: true,
        name: "",
        role: null,
        username: this.email,
        email: "",
        password: "",
        roleId: "",
        organizationId: "",
        admin2Id: "",
        admin2: null,
        emailVerified: true
      }
    };
  },
  computed: {},
  methods: {
    ...mapActions({ getAccountById: "accounts/get" }),
    ...mapActions({ updateAccount: "accounts/update" }),
    ...mapActions({ removeAccount: "accounts/remove" }),
    ...mapActions({ getAdmin2s: "boundaries/getCleanAdmin2s" }),
    update(account) {
      this.$q.loading.show({
        message:
          '<b>Processing</b> your request .<br/><span class="text-primary">Hang on...</span>'
      });
      this.updateAccount(account)
        .then(
          response => {
            this.success("Request completed succesfully");
          },
          reason => {
            this.error(
              "Sorry unexpected error , failed to process request ( " +
                reason +
                " )"
            );
          }
        )
        .finally(() => {
          this.$q.loading.hide();
          this.loadData(this.id);
        });
    },
    remove(id) {
      this.$q
        .dialog({
          title: "Confirm delete?",
          message: "This process cannot be undone, are you sure ?",
          cancel: true,
          color: "negative",
          persistent: true
        })
        .onOk(() => {
          this.$q.loading.show({
            message:
              '<b>Processing</b> your request .<br/><span class="text-primary">Hang on...</span>'
          });
          this.removeAccount(id)
            .then(
              response => {
                this.success("Request completed succesfully");
              },
              reason => {
                this.error(
                  "Sorry unexpected error , failed to process request ( " +
                    reason +
                    " )"
                );
              }
            )
            .finally(() => {
              this.$q.loading.hide();
              this.$router.push({ path: "/coordinator/accounts/" });
            });
        });
    },
    loadData(id) {
      this.getAccountById(id).then(response => {
        this.data = response;
        this.getAdmin2s(
          this.data.admin2Id != "" ? this.data.admin2Id : null
        ).then(response => {
          this.data.admin2 = response;
        });
      });
    }
  },
  beforeMount() {
    this.id = this.$route.params.id;
    this.loadData(this.id);
  }
};
</script>
<style lang="scss">
.tabs-align-left {
  justify-content: initial;
}
</style>
