<template>
  <q-page class="q-pa-md">
    <div class="q-pa-md q-gutter-sm">
      <q-breadcrumbs :active-color="$appConfig.color">
        <q-breadcrumbs-el to="/admin" label="Home" icon="home" />
        <q-breadcrumbs-el to="#" label="Accounts" />
      </q-breadcrumbs>
    </div>
    <q-splitter
      v-model="splitterModel"
      :limits="[6, 15]"
      before-class="overflow-hidden"
      after-class="overflow-hidden"
      separator-class="bg-black"
      style="height: 100%"
    >
      <template v-slot:before>
        <q-tabs
          v-if="splitterModel <= 6"
          v-model="tab"
          vertical
          :active-color="$appConfig.color"
          :indicator-color="$appConfig.color"
          no-caps
          inline-label
          class="text-grey-8 shadow-2 text-capitalize"
        >
          <q-tab
            name="all"
            class="text-capitalize"
            :label="'all (' + getAllAccounts.length + ')'"
            icon="layers"
            style="justify-content:initial"
            exact
          />
          <q-tab
            v-for="role in roles"
            :key="role.id"
            :name="role.id"
            :label="
              role.name.substring(0, 2) +
                ' (' +
                getByRoleId(role.id).length +
                ')'
            "
            icon="layers"
            class="text-capitalize"
            style="justify-content:initial"
            exact
          />
        </q-tabs>
        <q-tabs
          v-else
          v-model="tab"
          vertical
          :active-color="$appConfig.color"
          :indicator-color="$appConfig.color"
          no-caps
          inline-label
          class="text-grey-8 shadow-2"
        >
          <q-tab
            name="all"
            class="text-capitalize"
            icon="layers"
            :label="'all (' + getAllAccounts.length + ')'"
            style="justify-content:initial"
            exact
          />
          <q-tab
            v-for="role in roles"
            :key="role.id"
            :name="role.id"
            :label="role.name + ' (' + getByRoleId(role.id).length + ')'"
            icon="layers"
            class="text-capitalize"
            style="justify-content:initial"
            exact
          />
        </q-tabs>
      </template>
      <!-- <template dense v-slot:separator>
        <q-avatar :color="$appConfig.color" dense text-color="white" size="md" icon="drag_indicator" />
      </template>-->
      <template class="justify-center" v-slot:after>
        <q-tab-panels
          v-model="tab"
          animated
          transition-prev="jump-up"
          transition-next="jump-up"
        >
          <q-tab-panel name="all">
            <q-table
              class="text-capitalize"
              title="all accounts"
              :data="getAllAccounts"
              :columns="columns"
              :pagination.sync="pagination"
              row-key="name"
              :filter="filter"
              :color="$appConfig.color"
              flat
              borderless
              binary-state-sort
              :loading="loading"
            >
              <template v-slot:top-right>
                <q-input
                  class="rcorners1"
                  autocorrect="off"
                  rounded
                  borderless
                  dense
                  debounce="300"
                  v-model="filter"
                  :color="$appConfig.color"
                  square
                  label="Search"
                >
                  <template v-slot:append>
                    <q-icon :color="$appConfig.color" name="search" />
                  </template>
                </q-input>
                <create-account v-on:create-account="create"></create-account>
              </template>
              <template v-slot:body="props">
                <q-tr :props="props">
                  <q-td key="icon" :props="props" class="flex-center">
                    <div v-if="typeof props.row.organization != 'undefined'">
                      <q-avatar
                        v-if="props.row.organization.icon != null"
                        size="md"
                      >
                        <img :src="props.row.organization.icon" />
                      </q-avatar>
                      <q-avatar
                        v-else
                        size="md"
                        :color="$appConfig.color"
                        text-color="white"
                        icon="public"
                      />
                      <br />
                    </div>
                    <div v-else>
                      <q-avatar
                        size="md"
                        :color="$appConfig.color"
                        text-color="white"
                        icon="public"
                      />
                    </div>
                  </q-td>
                  <q-td key="name" :props="props">{{ props.row.name }}</q-td>
                  <q-td key="email" :props="props" class="text-lowercase">
                    {{ props.row.email }}
                  </q-td>
                  <q-td key="phone" :props="props">
                    {{ props.row.phone }}
                  </q-td>
                  <q-td key="organization" :props="props"
                    ><span v-if="typeof props.row.organization != 'undefined'">
                      {{ props.row.organization.name }}</span
                    ><span v-else>N/A</span></q-td
                  >
                  <q-td key="role" :props="props">{{
                    props.row.role.name
                  }}</q-td>
                  <q-td key="district" :props="props">{{
                    props.row.admin2.properties.ADM2_EN
                  }}</q-td>

                  <q-td key="status" :props="props">
                    <q-badge v-if="props.row.is_active == true" color="green">
                      <q-icon name="lock_open" color="white" />Active
                    </q-badge>
                    <q-badge v-else color="red">
                      <q-icon name="lock" color="white" />Inactive
                    </q-badge>
                  </q-td>
                  <q-td key="options" :props="props">
                    <q-btn round flat icon="more_vert">
                      <q-menu
                        auto-close
                        :offset="[110, 0]"
                        anchor="center middle"
                        self="top right"
                      >
                        <q-list style="min-width: 150px">
                          <q-item
                            clickable
                            :to="'/admin/accounts/manage/' + props.row.id"
                          >
                            <q-item-section avatar>
                              <q-icon name="create" />
                            </q-item-section>
                            <q-item-section>Manage</q-item-section>
                          </q-item>
                          <!-- <q-item clickable @click="remove(props.row.id)">
                            <q-item-section avatar>
                              <q-icon name="delete" />
                            </q-item-section>
                            <q-item-section>Remove</q-item-section>
                          </q-item>-->
                        </q-list>
                      </q-menu>
                    </q-btn>
                  </q-td>
                </q-tr>
              </template>
              <template v-slot:loading>
                <q-inner-loading showing :color="$appConfig.color" />
              </template>
            </q-table>
          </q-tab-panel>
          <q-tab-panel v-for="role in roles" :key="role.id" :name="role.id">
            <q-table
              class="text-capitalize"
              :title="role.name + ' accounts'"
              :data="getByRoleId(role.id)"
              :columns="columns"
              :pagination.sync="pagination"
              row-key="name"
              :filter="filter"
              flat
              :color="$appConfig.color"
              borderless
              binary-state-sort
              :loading="loading"
            >
              <template v-slot:top-right>
                <q-input
                  class="rcorners1"
                  borderless
                  autocorrect="off"
                  :color="$appConfig.color"
                  autocomplete="off"
                  debounce="300"
                  v-model="filter"
                  placeholder="Search"
                >
                  <template v-slot:append>
                    <q-icon :color="$appConfig.color" name="search" />
                  </template>
                </q-input>
                <create-account v-on:create-account="create"></create-account>
              </template>
              <template v-slot:body="props">
                <q-tr :props="props">
                  <q-td key="icon" :props="props" class="flex-center">
                    <div v-if="typeof props.row.organization != 'undefined'">
                      <q-avatar
                        v-if="props.row.organization.icon != null"
                        size="md"
                      >
                        <img :src="props.row.organization.icon" />
                      </q-avatar>
                      <q-avatar
                        v-else
                        size="md"
                        :color="$appConfig.color"
                        text-color="white"
                        icon="public"
                      />
                      <br />
                    </div>
                    <div v-else>
                      <q-avatar
                        size="md"
                        :color="$appConfig.color"
                        text-color="white"
                        icon="public"
                      />
                    </div>
                  </q-td>
                  <q-td key="name" :props="props">{{ props.row.name }}</q-td>
                  <q-td key="email" :props="props" class="text-lowercase">
                    {{ props.row.email }}
                  </q-td>
                  <q-td key="phone" :props="props">
                    {{ props.row.phone }}
                  </q-td>
                  <q-td key="organization" :props="props"
                    ><span v-if="typeof props.row.organization != 'undefined'">
                      {{ props.row.organization.name }}</span
                    ><span v-else>N/A</span></q-td
                  >
                  <q-td key="role" :props="props">{{
                    props.row.role.name
                  }}</q-td>
                  <q-td key="district" :props="props">{{
                    props.row.admin2.properties.ADM2_EN
                  }}</q-td>

                  <q-td key="status" :props="props">
                    <q-badge v-if="props.row.is_active == true" color="green">
                      <q-icon name="lock_open" color="white" />Active
                    </q-badge>
                    <q-badge v-else color="red">
                      <q-icon name="lock" color="white" />Inactive
                    </q-badge>
                  </q-td>
                  <q-td key="options" :props="props">
                    <q-btn round flat icon="more_vert">
                      <q-menu
                        auto-close
                        :offset="[110, 0]"
                        anchor="center middle"
                        self="top right"
                      >
                        <q-list style="min-width: 150px">
                          <q-item
                            clickable
                            :to="'/admin/accounts/manage/' + props.row.id"
                          >
                            <q-item-section avatar>
                              <q-icon name="create" />
                            </q-item-section>
                            <q-item-section>Manage</q-item-section>
                          </q-item>
                          <!-- <q-item clickable @click="remove(props.row.id)">
                            <q-item-section avatar>
                              <q-icon name="delete" />
                            </q-item-section>
                            <q-item-section>Remove</q-item-section>
                          </q-item>-->
                        </q-list>
                      </q-menu>
                    </q-btn>
                  </q-td>
                </q-tr>
              </template>
              <template v-slot:loading>
                <q-inner-loading showing :color="$appConfig.color" />
              </template>
            </q-table>
          </q-tab-panel>
        </q-tab-panels>
      </template>
    </q-splitter>
  </q-page>
</template>
<script>
import { mapGetters, mapState, mapActions } from "vuex";
import { QSpinnerGrid } from "quasar";
import { notification } from "../../../../mixins/notification";
import createAccount from "./components/create";
export default {
  name: "Accounts",
  components: {
    createAccount
  },
  mixins: [notification],
  data() {
    return {
      tab: "all",
      ratio: 16 / 9,
      medium: false,
      splitterModel: 15,
      pagination: {
        rowsPerPage: 10
      },
      filter: "",
      columns: [
        {
          name: "icon",
          align: "left",
          label: "",
          field: "type.icon",
          sortable: true
        },
        {
          name: "name",
          required: true,
          label: "Name",
          align: "left",
          field: row => row.name,
          format: val => `${val}`,
          sortable: true
        },
        {
          name: "email",
          align: "left",
          label: "Email",
          field: "email",
          sortable: true
        },
        {
          name: "phone",
          align: "left",
          label: "Phone",
          field: "phone",
          sortable: true
        },
        {
          name: "organization",
          align: "center",
          label: "Organization",
          field: row => row.organization.name,
          sortable: true
        },
        {
          name: "role",
          align: "center",
          label: "Role",
          field: "role",
          sortable: true
        },
        {
          name: "district",
          align: "center",
          label: "District",
          field: row => row.admin2.properties.ADM2_EN,
          sortable: true
        },

        {
          name: "status",
          align: "center",
          label: "Active status",
          field: "is_active",
          sortable: false
        },
        {
          name: "options",
          align: "right",
          label: "Options"
        }
      ],
      loading: true,
      data: [],
      roles: []
    };
  },
  computed: {
    ...mapGetters({ getAllAccounts: "accounts/get" }),
    ...mapGetters({ getByRoleId: "accounts/getByRoleId" }),
    ...mapGetters({ getAllRoles: "accounts/getRoles" })
  },
  methods: {
    ...mapActions({ getAccounts: "accounts/get" }),
    ...mapActions({ createAccount: "accounts/create" }),
    ...mapActions({ removeAccount: "accounts/remove" }),
    ...mapActions({ getRoles: "accounts/getRoles" }),
    create(account) {
      this.$q.loading.show({
        message:
          '<b>Processing</b> your request .<br/><span class="text-primary">Hang on...</span>'
      });
      this.createAccount(account)
        .then(
          response => {
            this.success("Request completed succesfully");
          },
          reason => {
            this.error(
              "Sorry unexpected error , failed to process request ( " +
                reason +
                " )"
            );
          }
        )
        .finally(() => {
          this.$q.loading.hide();
        });
    },
    remove(id) {
      this.$q
        .dialog({
          title: "Confirm delete?",
          message: "This process cannot be undone, are you sure ?",
          cancel: true,
          color: "negative",
          persistent: true
        })
        .onOk(() => {
          this.$q.loading.show({
            message:
              '<b>Processing</b> your request .<br/><span class="text-primary">Hang on...</span>'
          });
          this.removeAccount(id)
            .then(
              response => {
                this.success("Request completed succesfully");
              },
              reason => {
                this.error(
                  "Sorry unexpected error , failed to process request ( " +
                    reason +
                    " )"
                );
              }
            )
            .finally(() => {
              this.$q.loading.hide();
            });
        });
    },
    load() {
      this.getAccounts().then(response => {
        this.loading = false;
      });
    }
  },
  mounted() {
    this.load();
    this.getRoles().then(response => {
      this.roles = response.filter(item => item.name !== "admin");
    });
  }
};
</script>
<style lang="scss">
.tabs-align-left {
  justify-content: initial;
}
.rcorners1 {
  border-radius: 25px;
  background: rgb(229, 229, 229);
  padding: 20px;
  width: 300px;
  height: 10px;
}
</style>
