<template>
  <q-page class="q-pa-md">
    <div class="q-pa-md q-gutter-sm">
      <q-breadcrumbs :active-color="$appConfig.color">
        <q-breadcrumbs-el to="/coordinator" label="Home" icon="home" />
        <q-breadcrumbs-el to="#" label="USSD" />
      </q-breadcrumbs>
    </div>
    <div class="row q-pa-md justify-center">
      <div class="col-8">
        <q-card
          class="statistic-card col-3 q-ma-sm row"
          style="min-width: 55vw; min-height:70vh;"
        >
          <q-card-section class="col-12" :key="menu.toString()">
            <q-splitter v-model="splitterModel">
              <template v-slot:before>
                <div class="q-pa-md">
                  <q-tree
                    :nodes="tree"
                    node-key="id"
                    :selected-color="$appConfig.color"
                    :selected.sync="selected"
                    default-expand-all
                  />
                </div>
              </template>

              <template v-slot:after>
                <q-tab-panels
                  v-model="selected"
                  animated
                  :color="$appConfig.color"
                  transition-prev="jump-up"
                  transition-next="jump-up"
                >
                  <q-tab-panel :name="menu.id">
                    <div class="text-h6 text-weight-light">{{ menu.name }}</div>
                    <q-separator />
                    <edit-menu
                      v-bind:data="menu"
                      v-on:update-data="updateMenu"
                    ></edit-menu>
                    <q-separator />
                    <create-option
                      v-bind:menu="menu"
                      v-on:create-option="create"
                    ></create-option>
                  </q-tab-panel>

                  <q-tab-panel
                    v-for="option in menu.options"
                    :key="option.id"
                    :name="option.id"
                  >
                    <div class="text-h6 text-weight-light">
                      {{ option.name }}
                    </div>
                    <q-separator />
                    <edit-option
                      v-bind:data="option"
                      v-on:update-data="updateOption"
                    ></edit-option>
                    <q-separator />
                    <q-btn
                      flat
                      :color="$appConfig.color"
                      icon="delete"
                      label="Remove"
                      @click="removeOption(option.id)"
                      class="q-ma-sm"
                    >
                      <q-tooltip>remove this option form menu</q-tooltip>
                    </q-btn>
                  </q-tab-panel>
                </q-tab-panels>
              </template>
            </q-splitter>
          </q-card-section>
        </q-card>
      </div>
    </div>
  </q-page>
</template>

<script>
import { mapGetters, mapState, mapActions } from "vuex";
import { QSpinnerGrid } from "quasar";
import { notification } from "../../../../mixins/notification";
import { format } from "../../../../mixins/format";
import createOption from "./components/createOption";
import editMenu from "./components/editMenu";
import editOption from "./components/editOption";

export default {
  name: "Option",
  components: {
    createOption,
    editMenu,
    editOption
  },
  mixins: [notification, format],
  data() {
    return {
      filter: "",
      splitterModel: 40,
      selected: "",
      options: [],
      menu: {
        options: []
      },
      tree: [],
      loading: true
    };
  },
  computed: {},
  methods: {
    ...mapActions({ getMainMenu: "ussd/getMainMenu" }),
    ...mapActions({ updateMainMenu: "ussd/updateMenus" }),
    updateMenu(menu) {
      this.$q.loading.show({
        message:
          '<b>Processing</b> your request .<br/><span class="text-primary">Hang on...</span>'
      });
      this.updateMainMenu(menu)
        .then(
          response => {
            this.success("Request completed succesfully");
          },
          reason => {
            this.error(
              "Sorry unexpected error , failed to process request ( " +
                reason +
                " )"
            );
          }
        )
        .finally(() => {
          this.load();
        });
    },
    updateOption(option) {
      this.menu.options.splice(
        this.menu.options.map(o => o.id).indexOf(option.id),
        1,
        option
      );
      this.updateMainMenu(this.menu)
        .then(
          response => {
            this.success("Request completed succesfully");
          },
          reason => {
            this.error(
              "Sorry unexpected error , failed to process request ( " +
                reason +
                " )"
            );
          }
        )
        .finally(() => {
          this.load();
        });
    },
    create(option) {
      this.menu.options.push(option);
      this.$q.loading.show({
        message:
          '<b>Processing</b> your request .<br/><span class="text-primary">Hang on...</span>'
      });
      this.updateMainMenu(this.menu)
        .then(
          response => {
            this.success("Request completed succesfully");
          },
          reason => {
            this.error(
              "Sorry unexpected error , failed to process request ( " +
                reason +
                " )"
            );
          }
        )
        .finally(() => {
          this.load();
        });
    },
    removeOption(id) {
      this.$q
        .dialog({
          title: "Confirm delete?",
          message: "This process cannot be undone, are you sure ?",
          cancel: true,
          color: "negative",
          persistent: true
        })
        .onOk(() => {
          this.menu.options = this.menu.options.filter(x => {
            return x.id != id;
          });

          this.updateMainMenu(this.menu)
            .then(
              response => {
                this.success("Request completed succesfully");
              },
              reason => {
                this.error(
                  "Sorry unexpected error , failed to process request ( " +
                    reason +
                    " )"
                );
              }
            )
            .finally(() => {
              this.load();
            });
        });
    },

    load() {
      this.getMainMenu().then(response => {
        this.menu = response;
        let treeOptions = [];
        this.selected = this.menu.id.toString();
        (this.tree = []),
          this.menu.options.forEach(element => {
            let icon = "";
            if (element.optionType.name == "source") {
              icon = "move_to_inbox";
            } else if (element.optionType.name == "store") {
              icon = "ballot";
            } else {
              icon = "textsms";
            }
            let item = {
              id: element.id,
              label: element.name,
              icon: icon
            };
            treeOptions.push(item);
          });
        this.tree.push({
          id: this.menu.id,
          label: this.menu.name,
          icon: "home",
          children: treeOptions
        });
        this.$q.loading.hide();
      });
    },
    resetFilter() {
      this.filter = "";
      this.$refs.filter.focus();
    }
  },
  mounted() {
    this.$q.loading.show({
      message:
        '<b>Processing</b> your request .<br/><span class="text-primary">Hang on...</span>'
    });
    this.load();
  }
};
</script>
