<template>
  <div>
    change your user password
    <q-btn
      label="Change password"
      @click="show()"
      flat
      color="primary"
      class="q-ml-sm float-right"
    />

    <q-dialog
      ref="dialog"
      transition-show="slide-up"
      transition-hide="slide-down"
      persistent
      @keyup.esc="hide"
      @hide="close"
    >
      <q-card style="width: 600px; max-width: 80vw;" class="q-dialog-plugin">
        <q-bar class="bg-primary text-white">
          <div>change your password</div>
          <q-space />
          <q-btn dense flat icon="close" v-close-popup>
            <q-tooltip content-class="bg-white text-primary">Close</q-tooltip>
          </q-btn>
        </q-bar>

        <q-card-section>
          <q-form @submit="update" class="q-gutter-md">
            <q-input
              filled
              dense
              v-model="profile.password"
              label="Password"
              :type="isPwd ? 'password' : 'text'"
              hint="Password has to have 6 or more characters"
              lazy-rules
              :rules="passwordRules"
              @keyup.enter="$refs.password.focus"
            >
              <template v-slot:append>
                <q-icon
                  :name="isPwd ? 'visibility_off' : 'visibility'"
                  class="cursor-pointer"
                  @click="isPwd = !isPwd"
                />
              </template>
            </q-input>
            <q-input
              filled
              ref="confirmPassword"
              dense
              :type="isPwd1 ? 'password' : 'text'"
              v-model="confirmPassword"
              label="Confirm Password"
              lazy-rules
              :rules="confirmPasswordRules"
              @keyup.enter="update"
            >
              <template v-slot:append>
                <q-icon
                  :name="isPwd1 ? 'visibility_off' : 'visibility'"
                  class="cursor-pointer"
                  @click="isPwd1 = !isPwd1"
                /> </template
            ></q-input>

            <div align="left">
              <q-btn
                label="Save"
                type="submit"
                color="primary"
                class="q-ml-sm"
              />
            </div>
          </q-form>
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import { mapState, mapActions, mapGetters } from "vuex";
import { notification } from "../../../../../mixins/notification";
export default {
  mixins: [notification],
  data(vm) {
    return {
      regEmail: "",
      confirmPassword: "",
      isPwd: true,
      isPwd1: true,
      profile: {},
      passwordRules: [
        v => !!v || "Value is required",
        v =>
          v.length >= 6 || "password must have a minimum length of 6 characters"
      ],
      confirmPasswordRules: [
        v => v === vm.profile.password || "Password does not match",
        v =>
          v.length >= 6 || "password must have a minimum length of 6 characters"
      ]
    };
  },

  methods: {
    ...mapGetters({ getUser: "session/getUser" }),
    ...mapActions({ updateUser: "session/update" }),
    ...mapActions({ logoutUser: "session/logout" }),
    isValidEmail(val) {
      const emailPattern = /^(?=[a-zA-Z0-9@._%+-]{6,254}$)[a-zA-Z0-9._%+-]{1,64}@(?:[a-zA-Z0-9-]{1,63}\.){1,8}[a-zA-Z]{2,63}$/;
      return emailPattern.test(val) || "Invalid email";
    },
    isLetter(e) {
      let char = String.fromCharCode(e.keyCode); // Get the character
      if (/^[A-Za-z]+$/.test(char)) return true;
      // Match with regex
      else e.preventDefault(); // If not match, don't add to input text
    },
    valid() {
      return this.profile.password === this.confirmPassword;
    },
    show() {
      this.$refs.dialog.show();
    },
    hide() {
      this.$refs.dialog.hide();
    },

    close() {
      this.$emit("hide");
    },
    update(id) {
      this.$q
        .dialog({
          title: "Confirm update?",
          message: "Changing your details will be log you out of system ?",
          cancel: true,
          color: "positive",
          persistent: true
        })
        .onOk(() => {
          this.$q.loading.show({
            message:
              '<b>Processing</b> your request .<br/><span class="text-primary">Hang on...</span>'
          });
          this.updateUser(this.profile)
            .then(
              response => {
                this.success(
                  "You have succesfully updated your account details"
                );
                this.logoutUser().then(
                  response => {
                    this.$router.push({ path: "/" });
                  },
                  reason => {}
                );
              },
              reason => {
                this.error(
                  "Sorry unexpected error , failed to update your account details ( " +
                    reason +
                    " )"
                );
              }
            )
            .finally(() => {
              this.$q.loading.hide();
            });
        });
    }
  },
  beforeMount() {
    this.profile = this.getUser();
  },
  computed: {}
};
</script>
