<template>
    <q-card flat dense class="q-dialog-plugin">
      <q-form @submit="submit" class="q-gutter-md">
        <q-card-section>
          <q-input
            filled
            dense
            class="col-3"
            v-model="fmodel.name"
            label="Name"
            :color="$appConfig.color"
            hint
            lazy-rules
            :rules="[ val => val && val.length > 0 || 'Please enter valid organization name']"
          />

          <q-select
            dense
            filled
            class="col-3"
            hint=""
            disable
            :color="$appConfig.color"
            v-model="fmodel.organizationType"
            label="Organization type"
            :options="organization_types"
            stack-label
            option-value="id"
            :option-label="opt => opt.label.default"
            required
          />

          <q-input
            filled
            dense
            :color="$appConfig.color"
            class="col-3"
            v-model="fmodel.name_short"
            label="Short name *"
            hint
            lazy-rules
            :rules="[ val => val && val.length > 0 || 'Please enter valid organization name']"
          />

          <q-input
            filled
            dense
            :color="$appConfig.color"
            class="col-3"
            v-model="fmodel.icon"
            label="URL *"
            hint="url of the organization icon"
            lazy-rules
            :rules="[ val => val && val.length > 0 || 'Please enter valid organization icon']"
          />

          <q-input
            v-model="fmodel.description"
            dense
            :color="$appConfig.color"
            label="Description"
            hint
            class="col-3"
            filled
            type="textarea"
          />
          <!-- <q-toggle :color="$appConfig.color" v-model="fmodel.is_active" /> -->
        </q-card-section>

        <q-card-actions class="q-pt-md " align="left">
          <q-btn label="Save" type="submit" :color="$appConfig.color" class="q-ml-sm"></q-btn>
        </q-card-actions>
      </q-form>
    </q-card>
</template>
<script>
import { mapGetters, mapState, mapActions } from "vuex";
export default {
  props: ["organization"],
  data() {
    return {
      organization_types: [],
      fmodel: {
        name: "",
        organizationTypeId: null,
        name_short: "",
        description: "",
        icon: "",
        organizationType: {
          id: "",
          label: {}
        },
        is_active: true
      },
    };
  },
  watch: {
    organization: function (val) {
      if(val.id != "")
      {
        this.fmodel = JSON.parse(JSON.stringify(this.organization))
      }
    }
  },
  methods: {
    ...mapActions({ getTypes: "organizations/getTypes" }),
    submit() {
      this.fmodel.organizationTypeId = this.fmodel.organizationType.id;
      this.$emit("update-organization", this.fmodel);
    }
  },
  beforeMount() {
    this.getTypes().then(response => {
      this.organization_types = response;
    });
  }
};
</script>