<template>
  <div>
    <q-btn flat dense icon="domain" @click="show()" class="q-ml-md">
      +
      <q-tooltip>create new organization</q-tooltip>
    </q-btn>
    <q-dialog
      ref="dialog"
      transition-show="slide-up"
      transition-hide="slide-down"
      persistent
      @hide="close"
    >
      <q-card class="q-dialog-plugin">
        <q-bar :class="'bg-' + $appConfig.color + ' text-white'">
          <div>create new organization</div>
          <q-space />
          <q-btn dense flat icon="close" v-close-popup>
            <q-tooltip :content-class="'bg-white text-' + $appConfig.color + ''"
              >Close</q-tooltip
            >
          </q-btn>
        </q-bar>

        <q-card-section>
          <q-form @submit="submit" @reset="reset" class="q-gutter-md">
            <q-input
              filled
              dense
              :color="$appConfig.color"
              v-model="fmodel.name"
              label="Full name *"
              lazy-rules
              :rules="[
                val =>
                  (val && val.length > 0) ||
                  'Please enter valid organization full  name'
              ]"
            />

            <q-select
              dense
              filled
              :color="$appConfig.color"
              v-model="selected"
              label="Organization type"
              :options="organization_types"
              stack-label
              option-value="id"
              :option-label="opt => opt.label.default"
              required
            />

            <q-input
              filled
              dense
              :color="$appConfig.color"
              v-model="fmodel.name_short"
              label="Short name *"
              lazy-rules
              :rules="[
                val =>
                  (val && val.length > 0) ||
                  'Please enter valid organization short  name'
              ]"
            />

            <q-input
              filled
              dense
              :color="$appConfig.color"
              type="url"
              v-model="fmodel.icon"
              label="URL *"
              hint="url of the  organization icon"
            />

            <q-input
              dense
              v-model="fmodel.description"
              label="Description"
              filled
              type="textarea"
            />
            <div align="right">
              <q-btn
                label="Reset"
                type="reset"
                :color="$appConfig.color"
                flat
                class="q-ml-sm"
              ></q-btn>
              <q-btn
                label="Submit"
                type="submit"
                :color="$appConfig.color"
                class="q-ml-sm"
              ></q-btn>
            </div>
          </q-form>
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import { mapGetters, mapState, mapActions } from "vuex";
export default {
  data() {
    return {
      organization_types: [],
      selected: null,

      fmodel: {
        name: "",
        organizationTypeId: null,
        name_short: "",
        description: "",
        icon: "",
        is_active: true
      }
    };
  },
  methods: {
    ...mapActions({ getTypes: "organizations/getTypes" }),
    show() {
      this.$refs.dialog.show();
    },
    hide() {
      this.$refs.dialog.hide();
    },

    close() {
      this.$emit("hide");
    },

    submit() {
      this.fmodel.organizationTypeId = this.selected.id;
      this.fmodel.organizationType = this.selected;
      //emit
      this.$emit("create-organization", this.fmodel);
      //hide
      this.hide();
      //reset
      this.reset();
    },
    reset() {
      this.selected = null;
      this.fmodel = {
        name: "",
        organizationTypeId: null,
        name_short: "",
        description: "",
        icon: "",
        is_active: true
      };
    },
    cancel() {
      this.hide();
    }
  },
  beforeMount() {
    this.getTypes().then(response => {
      this.organization_types = response;
    });
  }
};
</script>
