<template>
  <div>
    <q-btn
      flat
      dense
      icon="add_circle"
      v-on:click="openForm"
      v-show="!isCreating"
      :color="$appConfig.color"
      class="q-ml-md"
    ></q-btn>
    <div class v-show="isCreating">
      <q-form @submit="sendForm" @reset="closeForm" class="q-gutter-sm row">
        <q-input
          filled
          class="col-3"
          :color="$appConfig.color"
          dense
          v-model="fmodel.name"
          label="name *"
          stack-label
          hint=" "
        />
        <q-input
          filled
          class="col-4"
          dense
          :color="$appConfig.color"
          v-model="fmodel.narrative"
          label="narrative *"
          stack-label
          hint=" "
        />
        <q-select
          dense
          class="col-2"
          filled
          :color="$appConfig.color"
          v-model="fmodel.type"
          label="Type"
          :options="['string','number']"
          stack-label
          :option-value="opt => opt"
          :option-label="opt => opt"
          required
          hint=" "
        />
        <!-- <q-input
          filled
          :color="$appConfig.color"
          class="col-2"
          dense
          hint=" "
          v-model="fmodel.rules"
          label="rules"
          stack-label
        /> -->
        <div class="col-2" align="left">
          <q-btn
            flat
            dense
            icon="save"
            type="submit"
            :color="$appConfig.color"
            size="md"
            class="q-ml-xs"
          />
          <q-btn
            flat
            dense
            icon="close"
            type="reset"
            :color="$appConfig.color"
            size="md"
            class="q-ml-xs"
          />
        </div>
      </q-form>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      fmodel: {
        name: "",
        narrative: "",
        type: "",
        rules: ""
      },

      isCreating: false
    };
  },
  methods: {
    openForm() {
      this.isCreating = true;
    },
    closeForm() {
      this.isCreating = false;
    },
    sendForm() {
      if (this.fmodel.name.length > 0) {
        this.$emit("create-item", this.fmodel);
        this.fmodel = {
          name: "",
          narrative: "",
          type: "",
          rules: ""
        };
        this.isCreating = false;
      }
    }
  }
};
</script>
