<template>
  <div>
    <div class="q-gutter-sm row" v-show="!isEditing">
      <div class="col-3">
        <small>Name</small>
        <br />
        {{ item.name }}
      </div>
      <div class="col-4">
        <small>Narrative</small>
        <br />
        {{ item.narrative }}
      </div>
      <div class="col-2">
        <small>Type</small>
        <br />
        {{ item.type }}
      </div>

      <div class="col-2" align="right">
        <small>Options</small>
        <br />
        <q-btn
          flat
          dense
          icon="create"
          v-on:click="showForm"
          :color="$appConfig.color"
          class="q-ml-xs"
        />

        <q-btn
          flat
          dense
          icon="delete"
          v-on:click="deleteItem(item)"
          :color="$appConfig.color"
          class="q-ml-xs"
        />
      </div>
    </div>
    <div class="q-gutter-sm row" v-show="isEditing">
      <q-input
        filled
        class="col-3"
        :color="$appConfig.color"
        dense
        v-model="item.name"
        label="name *"
        stack-label
        hint=" "
      />
      <q-input
        filled
        class="col-4"
        dense
        :color="$appConfig.color"
        v-model="item.narrative"
        label="narrative *"
        stack-label
        hint=" "
      />
      <q-select
        dense
        class="col-2"
        filled
        :color="$appConfig.color"
        v-model="item.type"
        label="Type"
        :options="['string','number']"
        stack-label
        :option-value="opt => opt"
        :option-label="opt => opt"
        required
        hint=" "
      />
      <div class="col-2" align="right">
        <q-btn
          flat
          dense
          icon="save"
          label="Save"
          v-on:click="hideForm()"
          :color="$appConfig.color"
          class="q-ml-xs"
        />
        <!-- <q-btn
          flat
          dense
          icon="close"
          label="Close"
          v-on:click="hideForm()"
          :color="$appConfig.color"
          class="q-ml-xs"
        />-->
      </div>
    </div>
    <q-separator />
  </div>
</template>

<script type="text/javascript">
export default {
  props: ["item"],
  data() {
    return {
      isEditing: false
    };
  },
  methods: {
    deleteItem(item) {
      this.$emit("delete-item", item);
      this.hideForm();
    },
    showForm() {
      this.isEditing = true;
    },
    hideForm() {
      this.isEditing = false;
    }
  }
};
</script>
