<template>
  <div class="col-12">
    <item v-on:delete-item="deleteItem" v-for="item in items" :item.sync="item"  v-bind:key="item.name"></item>
  </div>
</template>

<script type = "text/javascript" >
import item from './item';
import { constants } from 'fs';

export default {
  props: ['items'],
  components: {
    item,
  },
  methods: {
    deleteItem(item) {
      const roomIndex = this.items.indexOf(item);
      this.items.splice(roomIndex, 1);
    }
  },
};
</script>

<style scoped>
p.tasks {
  text-align: center;
}
</style>

