<template>
  <q-page class>
    <div class="q-pa-md">
      <div class="q-pa-md q-gutter-sm">
        <q-breadcrumbs :active-color="$appConfig.color" >
          <q-breadcrumbs-el to="/admin" label="Home" icon="home" />
          <q-breadcrumbs-el to="#" label="Settings" />
        </q-breadcrumbs>
      </div>
      <q-splitter
        v-model="splitterModel"
        :limits="[6, 15]"
        before-class="overflow-hidden"
        after-class="overflow-hidden"
        separator-class="bg-black"
        :active-color="$appConfig.color"
        :indicator-color="$appConfig.color"
        style="height: 100%"
      >
        <template v-slot:before>
          <q-tabs
            v-if="splitterModel <= 6"
            v-model="tab"
            vertical
             :active-color="$appConfig.color"
            :indicator-color="$appConfig.color"
            no-caps
            inline-label
            class="text-grey-8 shadow-2"
          >
            <q-tab label="P" name="profile" icon="layers" style="justify-content:initial" exact />
            <q-tab label="L" name="logs" icon="layers" style="justify-content:initial" exact />
          </q-tabs>
          <q-tabs
            v-else
            v-model="tab"
            vertical
             :active-color="$appConfig.color"
            :indicator-color="$appConfig.color"
            no-caps
            inline-label
            class="text-grey-8 shadow-2"
          >
            <q-tab
              name="profile"
              icon="layers"
              label="Profile"
              style="justify-content:initial"
              exact
            />
            <q-tab name="logs" icon="layers" label="Logs" style="justify-content:initial" exact />
          </q-tabs>
        </template>
        <!-- <template v-slot:separator>
          <q-avatar
            :color="$appConfig.color"
            text-color="white"
            size="md"
            icon="drag_indicator"
          />
        </template>-->
        <template class="row justify-center" v-slot:after>
          <q-tab-panels v-model="tab" animated transition-prev="jump-up" transition-next="jump-up">
            <q-tab-panel name="profile">
              <q-card-section :class="'bg-'+$appConfig.color+' text-white'">
                <div class="text-subtitle2">Your profile</div>
              </q-card-section>
              <q-separator class="q-my-md" />
              <p class="text-subtitle1 q-ml-md">Update your details</p>
              <profile></profile>

              <p class="text-subtitle1 q-ml-md">Change password</p>
              <p class="q-ml-md text-weight-light">
                <password></password>
              </p>
            </q-tab-panel>

            <q-tab-panel name="logs">
              <q-card-section :class="'bg-'+$appConfig.color+' text-white'">
                <div class="text-subtitle2">Logs</div>
              </q-card-section>
              <q-separator class="q-my-md" />
              <p class="text-subtitle1 q-ml-md">System usage logs</p>
               <p class="q-ml-md text-weight-light">
                <logs></logs>
              </p>
            </q-tab-panel>
          </q-tab-panels>
        </template>
      </q-splitter>
    </div>
  </q-page>
</template>
<script>
import { mapGetters, mapState, mapActions } from "vuex";
import { notification } from "../../../../mixins/notification";
import profile from "./components/profile";
import password from "./components/password";
import logs from "./components/logs";
import moment from "moment";
export default {
  name: "Settings",
  components: {
    profile,
    logs,
    password
  },
  mixins: [notification],
  data() {
    return {
      tab: "profile",
      logs: [],
      accounts: [],
      ratio: 16 / 9,
      medium: false,
      splitterModel: 15
    };
  },
  computed: {},
  methods: {
    ...mapActions({ getAccounts: "accounts/getAll" })
  },
  beforeMount() {}
};
</script>
<style lang="scss">
.tabs-align-left {
  justify-content: initial;
}
</style>
