<template>
  <q-page class="q-pa-md">
    <div class="q-pa-md q-gutter-sm">
      <q-breadcrumbs :active-color="$appConfig.color">
        <q-breadcrumbs-el to="/manager" label="Home" icon="home" />
        <q-breadcrumbs-el to="#" label="Accounts" />
      </q-breadcrumbs>
    </div>
    <q-splitter
      v-model="splitterModel"
      :limits="[6, 15]"
      before-class="overflow-hidden"
      after-class="overflow-hidden"
      separator-class="bg-black"
      style="height: 100%"
    >
      <template v-slot:before>
        <q-tabs
          v-if="splitterModel <= 6"
          v-model="tab"
          vertical
          :active-color="$appConfig.color"
          :indicator-color="$appConfig.color"
          no-caps
          inline-label
          class="text-grey-8 shadow-2 text-capitalize"
        >
          <q-tab
            name="all"
            class="text-capitalize"
            :label="'all (' + getAllAccounts.length + ')'"
            icon="layers"
            style="justify-content:initial"
            exact
          />
          <q-tab
            v-for="role in getAllRoles"
            :key="role.id"
            :name="role.id"
            :label="
              role.name.substring(0, 2) +
                ' (' +
                getByRoleId(role.id).length +
                ')'
            "
            icon="layers"
            class="text-capitalize"
            style="justify-content:initial"
            exact
          />
        </q-tabs>
        <q-tabs
          v-else
          v-model="tab"
          vertical
          :active-color="$appConfig.color"
          :indicator-color="$appConfig.color"
          no-caps
          inline-label
          class="text-grey-8 shadow-2"
        >
          <q-tab
            name="all"
            class="text-capitalize"
            icon="layers"
            :label="'all (' + getAllAccounts.length + ')'"
            style="justify-content:initial"
            exact
          />
          <q-tab
            v-for="role in getAllRoles"
            :key="role.id"
            :name="role.id"
            :label="role.name + ' (' + getByRoleId(role.id).length + ')'"
            icon="layers"
            class="text-capitalize"
            style="justify-content:initial"
            exact
          />
        </q-tabs>
      </template>
      <!-- <template dense v-slot:separator>
        <q-avatar :color="$appConfig.color" dense text-color="white" size="md" icon="drag_indicator" />
      </template>-->
      <template class="justify-center" v-slot:after>
        <q-tab-panels
          v-model="tab"
          animated
          transition-prev="jump-up"
          transition-next="jump-up"
        >
          <q-tab-panel name="all">
            <q-table
              class="text-capitalize"
              title="all accounts"
              :data="getAllAccounts"
              :columns="columns"
              :pagination.sync="pagination"
              row-key="name"
              :filter="filter"
              :color="$appConfig.color"
              flat
              borderless
              binary-state-sort
              :loading="loading"
            >
              <template v-slot:top-right>
                <q-input
                  autocorrect="off"
                  square
                  dense
                  :color="$appConfig.color"
                  autocomplete="off"
                  debounce="300"
                  v-model="filter"
                  placeholder="Search"
                >
                  <template v-slot:append>
                    <q-icon :color="$appConfig.color" name="search" />
                  </template>
                </q-input>
                <create-account v-on:create-account="create"></create-account>
              </template>
              <template v-slot:body="props">
                <q-tr :props="props">
                  <q-td key="icon" :props="props" class="flex-center">
                    <div v-if="typeof props.row.organization != 'undefined'">
                      <q-avatar
                        v-if="props.row.organization.icon != null"
                        size="md"
                      >
                        <img :src="props.row.organization.icon" />
                      </q-avatar>
                      <q-avatar
                        v-else
                        size="md"
                        :color="$appConfig.color"
                        text-color="white"
                        icon="public"
                      />
                      <br />
                    </div>
                    <div v-else>
                      <q-avatar
                        size="md"
                        :color="$appConfig.color"
                        text-color="white"
                        icon="public"
                      />
                    </div>
                  </q-td>
                  <q-td key="name" :props="props">{{ props.row.name }}</q-td>
                  <q-td key="organization" :props="props"
                    ><span v-if="typeof props.row.organization != 'undefined'">
                      {{ props.row.organization.name }}</span
                    ><span v-else>N/A</span></q-td
                  >
                  <q-td key="role" :props="props">{{
                    props.row.role.name
                  }}</q-td>
                  <q-td key="email" :props="props" class="text-lowercase">
                    {{ props.row.email }}
                  </q-td>
                  <q-td key="phone" :props="props">
                    {{ props.row.phone }}
                  </q-td>
                  <q-td key="status" :props="props">
                    <q-badge v-if="props.row.is_active == true" color="green">
                      <q-icon name="lock_open" color="white" />Active
                    </q-badge>
                    <q-badge v-else color="red">
                      <q-icon name="lock" color="white" />Inactive
                    </q-badge>
                  </q-td>
                  <q-td key="options" :props="props">
                    <q-btn round flat icon="more_vert">
                      <q-menu
                        auto-close
                        :offset="[110, 0]"
                        anchor="center middle"
                        self="top right"
                      >
                        <q-list style="min-width: 150px">
                          <q-item
                            clickable
                            :to="'/admin/accounts/manage/' + props.row.id"
                          >
                            <q-item-section avatar>
                              <q-icon name="create" />
                            </q-item-section>
                            <q-item-section>Manage</q-item-section>
                          </q-item>
                          <!-- <q-item clickable @click="remove(props.row.id)">
                            <q-item-section avatar>
                              <q-icon name="delete" />
                            </q-item-section>
                            <q-item-section>Remove</q-item-section>
                          </q-item>-->
                        </q-list>
                      </q-menu>
                    </q-btn>
                  </q-td>
                </q-tr>
              </template>
              <template v-slot:loading>
                <q-inner-loading showing :color="$appConfig.color" />
              </template>
            </q-table>
          </q-tab-panel>
          <q-tab-panel
            v-for="role in getAllRoles"
            :key="role.id"
            :name="role.id === 1 ? '' : role.id"
          >
            <q-table
              class="text-capitalize"
              :title="role.name + ' accounts'"
              :data="getByRoleId(role.id)"
              :columns="columns"
              :pagination.sync="pagination"
              row-key="name"
              :filter="filter"
              flat
              :color="$appConfig.color"
              borderless
              binary-state-sort
              :loading="loading"
            >
              <template v-slot:top-right>
                <q-input
                  autocorrect="off"
                  square
                  dense
                  :color="$appConfig.color"
                  autocomplete="off"
                  debounce="300"
                  v-model="filter"
                  placeholder="Search"
                >
                  <template v-slot:append>
                    <q-icon :color="$appConfig.color" name="search" />
                  </template>
                </q-input>
                <create-account v-on:create-account="create"></create-account>
              </template>
              <template v-slot:body="props">
                <q-tr :props="props">
                  <q-td key="icon" :props="props" class="flex-center">
                    <div v-if="typeof props.row.organization != 'undefined'">
                      <q-avatar
                        v-if="props.row.organization.icon != null"
                        size="md"
                      >
                        <img :src="props.row.organization.icon" />
                      </q-avatar>
                      <q-avatar
                        v-else
                        size="md"
                        :color="$appConfig.color"
                        text-color="white"
                        icon="public"
                      />
                      <br />
                    </div>
                    <div v-else>
                      <q-avatar
                        size="md"
                        :color="$appConfig.color"
                        text-color="white"
                        icon="public"
                      />
                    </div>
                  </q-td>
                  <q-td key="name" :props="props">{{ props.row.name }}</q-td>

                  >

                  <q-td key="phone" :props="props">
                    {{ props.row.phone }}
                  </q-td>
                </q-tr>
              </template>
              <template v-slot:loading>
                <q-inner-loading showing :color="$appConfig.color" />
              </template>
            </q-table>
          </q-tab-panel>
        </q-tab-panels>
      </template>
    </q-splitter>
  </q-page>
</template>

<script>
import { mapState, mapActions, mapGetters } from "vuex";
import { exportFile } from "quasar";

function wrapCsvValue(val, formatFn) {
  let formatted = formatFn !== void 0 ? formatFn(val) : val;

  formatted =
    formatted === void 0 || formatted === null ? "" : String(formatted);

  formatted = formatted.split('"').join('""');
  /**
   * Excel accepts \n and \r in strings, but some other CSV parsers do not
   * Uncomment the next two lines to escape new lines
   */
  // .split('\n').join('\\n')
  // .split('\r').join('\\r')

  return `"${formatted}"`;
}
export default {
  data() {
    return {
      tab: "all",
      ratio: 16 / 9,
      medium: false,
      splitterModel: 15,
      pagination: {
        rowsPerPage: 10
      },
      filter: "",
      id: "",
      store: {},
      profile: {},

      columns: [
        {
          name: "name",
          align: "left",
          label: "Name",
          field: "name",
          sortable: true
        },
        {
          name: "phone",
          label: "Phone",
          align: "center",
          field: "phone",
          sortable: true
        }
      ],
      loading: true,
      data: [],
      records: [],
      districts: []
    };
  },
  computed: {
    ...mapGetters({ getByDistrictId: "dataStores/getByDistrictId" }),
    ...mapGetters({ user: "session/getUser" })
  },
  methods: {
    ...mapActions({ getStores: "dataStores/get" }),
    ...mapActions({ getDataRecords: "dataStores/getAllRecords" }),
    ...mapActions({ getAdmin2s: "boundaries/getCleanAdmin2s" }),
    exportTable() {
      // naive encoding to csv format
      const content = [this.columns.map(col => wrapCsvValue(col.label))]
        .concat(
          this.data.map(row =>
            this.columns
              .map(col =>
                wrapCsvValue(
                  typeof col.field === "function"
                    ? col.field(row)
                    : row[col.field === void 0 ? col.name : col.field],
                  col.format
                )
              )
              .join(",")
          )
        )
        .join("\r\n");

      const status = exportFile(
        this.store.name + "(" + this.$moment().format("DD_MM_YYYY") + ").csv",
        content,
        "text/csv"
      );

      if (status !== true) {
        this.$q.notify({
          message: "Browser denied file download...",
          color: "negative",
          icon: "warning"
        });
      }
    }
  },
  beforeMount() {
    this.id = this.$route.params.id;
    this.getStores(this.id).then(response => {
      this.store = response;
      this.store.fields.forEach(element => {
        this.columns.push({
          label: element.name + "(" + element.narrative + ")",
          name: element.id,
          align: "center",
          field: element.id,
          sortable: true
        });
      });
      this.columns.push({
        align: "right",
        name: "createdon",
        label: "Created On",
        field: row =>
          this.$moment(row.start_date).format("MMMM Do YYYY, h:mm:ss a"),
        sortable: true
      });
    });
    this.getDataRecords(this.id).then(response => {
      response.forEach(item => {
        var record = {
          name: item.account.name,
          phone: item.account.phone,
          createdon: item.createdon
        };
        item.values.forEach(item => {
          record[item.fieldId] = item.value;
        });
        this.data.push(record);
      });
      this.loading = false;
      this.records = response;
      //console.log(response);
      response;
    });

    this.getAdmin2s().then(response => {
      this.districts = response;
      // console.log(response);
    });
  }
};
</script>

<style lang="scss">
.tabs-align-left {
  justify-content: initial;
}
</style>
