<template>
  <q-page class="q-pa-md">
    <div class="q-pa-md q-gutter-sm">
      <q-breadcrumbs :active-color="$appConfig.color">
        <q-breadcrumbs-el to="/manager" label="Home" icon="home" />
        <q-breadcrumbs-el to="/manager/stores" label="Stores" />
        <q-breadcrumbs-el to="#" :label="store.name" />
      </q-breadcrumbs>
    </div>
    <q-splitter
      v-model="splitterModel"
      :limits="[6, 15]"
      before-class="overflow-hidden"
      after-class="overflow-hidden"
      separator-class="bg-black"
      style="height: 100%"
    >
      <template v-slot:before>
        <q-tabs
          v-model="tab"
          vertical
          :active-color="$appConfig.color"
          :indicator-color="$appConfig.color"
          no-caps
          inline-label
          class="text-grey-8 shadow-2"
        >
          <q-tab
            name="all"
            class="text-capitalize"
            icon="layers"
            :label="'all (' + records.length + ')'"
            @click="getTableData()"
            style="justify-content:initial"
            exact
          />
          <q-tab
            v-if="getByDistrictId(district.id).length > 0"
            v-for="district in districts"
            :key="district.id"
            name="all"
            @click="getTableData(district.id, district.properties.ADM2_EN)"
            :label="
              district.properties.ADM2_EN +
                ' (' +
                getByDistrictId(district.id).length +
                ')'
            "
            icon="layers"
            class="text-capitalize"
            style="justify-content:initial"
            exact
          />
        </q-tabs>
      </template>
      <!-- <template dense v-slot:separator>
        <q-avatar :color="$appConfig.color" dense text-color="white" size="md" icon="drag_indicator" />
      </template>-->
      <template class="justify-center" v-slot:after>
        <q-tab-panels
          v-model="tab"
          animated
          transition-prev="jump-up"
          transition-next="jump-up"
        >
          <q-tab-panel name="all">
            <q-table
              class="text-capitalize"
              title="all"
              :data="updatedData"
              :columns="columns"
              :pagination.sync="pagination"
              row-key="id"
              :filter="filter"
              flat
              :color="$appConfig.color"
              square
              binary-state-sort
              :loading="loading"
            >
              <template v-slot:top="props">
                <strong
                  style="font-size: 20px;
    letter-spacing: .005em;
    font-weight: 400;"
                  >{{ tableTitle }} {{ store.name }} Records</strong
                >
                <q-space />

                <q-input
                  class="rcorners1"
                  borderless
                  autocorrect="off"
                  :color="$appConfig.color"
                  autocomplete="off"
                  debounce="300"
                  v-model="filter"
                  placeholder="Search"
                >
                  <template v-slot:append>
                    <q-icon :color="$appConfig.color" name="search" />
                  </template>
                </q-input>
                <q-btn
                  flat
                  :color="$appConfig.color"
                  dense
                  :icon="props.inFullscreen ? 'fullscreen_exit' : 'fullscreen'"
                  @click="props.toggleFullscreen"
                  class="q-ml-md"
                />
                <q-btn
                  flat
                  :color="$appConfig.color"
                  dense
                  icon-right="archive"
                  label="Export"
                  no-caps
                  @click="exportTable"
                />
              </template>
              <template v-slot:loading>
                <q-inner-loading showing :color="$appConfig.color" />
              </template>
            </q-table>
          </q-tab-panel>
          <q-tab-panel
            v-if="getByDistrictId(district.id).length > 0"
            v-for="district in districts"
            :key="district.id"
            :name="district.id"
          >
          </q-tab-panel>
        </q-tab-panels>
      </template>
    </q-splitter>
  </q-page>
</template>
<script>
import { mapState, mapActions, mapGetters } from "vuex";
import { exportFile } from "quasar";

function wrapCsvValue(val, formatFn) {
  let formatted = formatFn !== void 0 ? formatFn(val) : val;

  formatted =
    formatted === void 0 || formatted === null ? "" : String(formatted);

  formatted = formatted.split('"').join('""');
  /**
   * Excel accepts \n and \r in strings, but some other CSV parsers do not
   * Uncomment the next two lines to escape new lines
   */
  // .split('\n').join('\\n')
  // .split('\r').join('\\r')

  return `"${formatted}"`;
}
export default {
  data() {
    return {
      tab: "all",
      ratio: 16 / 9,
      medium: false,
      splitterModel: 15,
      pagination: {
        rowsPerPage: 10
      },
      tableTitle: "",
      id: "",

      store: {},
      profile: {},
      filter: "",
      columns: [
        {
          align: "left",
          name: "createdon",
          label: "Recorded On",
          field: row =>
            this.$moment(row.createdon).format("MMMM DD YYYY, h:mm:ss A"),
          sortable: true
        },
        {
          name: "name",
          align: "left",
          label: "Name",
          field: "name",
          sortable: true
        },
        {
          name: "phone",
          label: "Phone",
          align: "center",
          field: "phone",
          sortable: true
        }
      ],
      loading: true,
      data: [],
      records: [],
      districts: []
    };
  },
  computed: {
    updatedData() {
      return this.data.slice().reverse();
    },
    ...mapGetters({ getByDistrictId: "dataStores/getByDistrictId" }),
    ...mapGetters({ user: "session/getUser" })
  },
  methods: {
    ...mapActions({ getStores: "dataStores/get" }),
    ...mapActions({ getDataRecords: "dataStores/getAllRecords" }),
    ...mapActions({ getAdmin2s: "boundaries/getCleanAdmin2s" }),
    exportTable() {
      // naive encoding to csv format
      const content = [this.columns.map(col => wrapCsvValue(col.label))]
        .concat(
          this.data.map(row =>
            this.columns
              .map(col =>
                wrapCsvValue(
                  typeof col.field === "function"
                    ? col.field(row)
                    : row[col.field === void 0 ? col.name : col.field],
                  col.format
                )
              )
              .join(",")
          )
        )
        .join("\r\n");

      const status = exportFile(
        this.store.name + "(" + this.$moment().format("DD_MM_YYYY") + ").csv",
        content,
        "text/csv"
      );

      if (status !== true) {
        this.$q.notify({
          message: "Browser denied file download...",
          color: "negative",
          icon: "warning"
        });
      }
    },
    async getTableData(id = "", district = "") {
      this.tableTitle = "All";
      // console.log(this);
      let data = [];
      this.data = [];
      if (id) {
        data = await this.getByDistrictId(id)
          .slice()
          .reverse();

        this.tableTitle = district;
      } else {
        data = await this.getDataRecords(this.id)

      }

      data.forEach(item => {
        var record = {
          createdon: item.createdon,
          name: item.account.name,
          phone: item.account.phone,
          //in the case of wind telemetry data
          //direction: item.values[0].direction
        };

        let direction = record.direction;

        if (direction !== null && direction !== undefined) {
          item.values.forEach((item, index, arr) => {
            if (index === 0) {
              record[item.fieldId] = item.value + " " + direction;
            }
          });
        } else {
          item.values.forEach(item => {
            record[item.fieldId] = item.value;
          });
        }

        this.data.push(record);
      });
    }
  },
  beforeMount() {
    this.id = this.$route.params.id;
    this.getStores(this.id).then(response => {
      this.store = response;
      this.store.fields.forEach(element => {
        this.columns.push({
          label: element.name + "(" + element.narrative + ")",
          name: element.id,
          align: "center",
          field: element.id,
          sortable: true
        });
      });
      //console.log(this.store.fields[0].name);
      if (this.store.fields[0].name === "Wind speed") {
        //this.columns.pop();
        this.getTableData();
      } else {
        this.columns;
        this.getTableData();
      }
    });
    this.getDataRecords(this.id).then(response => {
      //console.log(response);
      response.forEach(item => {
        var record = {
          createdon: item.createdon,
          name: item.account.name,
          phone: item.account.phone
        };
        item.values.forEach(item => {
          record[item.fieldId] = item.value;
        });

        //console.log(record);
        //this.data.push(record);
      });
      this.loading = false;
      this.records = response
      //console.log(response);
     // response;
    });

    this.getAdmin2s().then(response => {
      this.districts = response;
      // console.log(response);
    });
  }
};
</script>

<style lang="scss">
.tabs-align-left {
  justify-content: initial;
}
.rcorners1 {
  border-radius: 25px;
  background: rgb(229, 229, 229);
  padding: 20px;
  width: 300px;
  height: 10px;
}
</style>
