<template>
  <q-page class="q-pa-md">
    <div class="q-pa-md q-gutter-sm">
      <q-breadcrumbs :active-color="$appConfig.color">
        <q-breadcrumbs-el to="/manager" label="Home" icon="home" />
        <q-breadcrumbs-el to="#" label="Stores" />
      </q-breadcrumbs>
    </div>

    <div class="row q-pa-md justify-center">
      <div class="col-8">
        <q-table
          class="store-table text-capitalize"
          :grid="$q.screen.xs"
          title="Stores"
          :data="get"
          :columns="columns"
          row-key="name"
          :filter="filter"
          flat
          borderless
          binary-state-sort
          :loading="loading"
        >
          <template v-slot:top-right>
            <q-input
              class="rcorners1"
              borderless
              autocorrect="off"
              :color="$appConfig.color"
              autocomplete="off"
              debounce="300"
              v-model="filter"
              placeholder="Search"
            >
              <template v-slot:append>
                <q-icon :color="$appConfig.color" name="search" />
              </template>
            </q-input>
            <create-store v-on:create-store="create"></create-store>
          </template>
          <template v-slot:body="props">
            <q-tr :props="props">
              <q-td key="name" :props="props">
                {{ props.row.name }}
                <q-btn
                  flat
                  round
                  :color="$appConfig.color"
                  size="xs"
                  icon="info"
                  @click="info(props.row.description)"
                />
              </q-td>
              <q-td key="fields" :props="props">{{
                arrayToString(props.row.fields.map(a => a.name))
              }}</q-td>

              <q-td key="options" :props="props">
                <q-btn round flat icon="more_vert">
                  <q-menu
                    auto-close
                    :offset="[110, 0]"
                    anchor="center middle"
                    self="top right"
                  >
                    <q-list style="min-width: 150px">
                      <q-item
                        clickable
                        :to="'/manager/stores/manage/' + props.row.id"
                      >
                        <q-item-section avatar>
                          <q-icon name="create" />
                        </q-item-section>
                        <q-item-section>Manage</q-item-section>
                      </q-item>
                      <q-item
                        clickable
                        :to="'/manager/stores/data/' + props.row.id"
                      >
                        <q-item-section avatar>
                          <q-icon name="cloud_download" />
                        </q-item-section>
                        <q-item-section>Data</q-item-section>
                      </q-item>
                      <!-- <q-item clickable @click="remove(props.row.id)">
                        <q-item-section avatar>
                          <q-icon name="delete" />
                        </q-item-section>
                        <q-item-section>Remove</q-item-section>
                      </q-item> -->
                    </q-list>
                  </q-menu>
                </q-btn>
              </q-td>
            </q-tr>
          </template>
          <template v-slot:loading>
            <q-inner-loading showing :color="$appConfig.color" />
          </template>
        </q-table>
      </div>
    </div>
  </q-page>
</template>

<script>
import { mapGetters, mapState, mapActions } from "vuex";
import { QSpinnerGrid } from "quasar";
import { notification } from "../../../../mixins/notification";
import { format } from "../../../../mixins/format";
import createStore from "./components/create";

export default {
  name: "Store",
  components: {
    createStore
  },
  mixins: [notification, format],
  data() {
    return {
      filter: "",
      columns: [
        {
          name: "name",
          required: true,
          label: "Name",
          align: "left",
          field: name,
          sortable: true
        },
        {
          name: "fields",
          label: "Fields",
          align: "center",
          sortable: true
        },
        {
          name: "options",
          align: "right",
          label: "Options"
        }
      ],
      loading: true
    };
  },
  computed: {
    ...mapGetters({ get: "dataStores/get" })
  },
  methods: {
    ...mapActions({ getStores: "dataStores/get" }),
    ...mapActions({ createStore: "dataStores/create" }),
    ...mapActions({ removeStore: "dataStores/remove" }),
    create(store) {
      this.$q.loading.show({
        message:
          '<b>Processing</b> your request .<br/><span class="text-primary">Hang on...</span>'
      });
      this.createStore(store)
        .then(
          response => {
            this.success("Request completed succesfully");
          },
          reason => {
            this.error(
              "Sorry unexpected error , failed to process request ( " +
                reason +
                " )"
            );
          }
        )
        .finally(() => {
          this.$q.loading.hide();
        });
    },
    remove(id) {
      this.$q
        .dialog({
          title: "Confirm delete?",
          message: "This process cannot be undone, are you sure ?",
          cancel: true,
          color: "negative",
          persistent: true
        })
        .onOk(() => {
          this.$q.loading.show({
            message:
              '<b>Processing</b> your request .<br/><span class="text-primary">Hang on...</span>'
          });
          this.removeStore(id)
            .then(
              response => {
                this.success("Request completed succesfully");
              },
              reason => {
                this.error(
                  "Sorry unexpected error , failed to process request ( " +
                    reason +
                    " )"
                );
              }
            )
            .finally(() => {
              this.$q.loading.hide();
            });
        });
    }
  },
  mounted() {
    this.getStores().then(response => {
      this.loading = false;
    });
  }
};
</script>
<style lang="scss">
.tabs-align-left {
  justify-content: initial;
}
.rcorners1 {
  border-radius: 25px;
  background: rgb(229, 229, 229);
  padding: 20px;
  width: 300px;
  height: 10px;
}
</style>
