<template>
  <q-page class="q-pa-md">
    <div class="q-pa-md q-gutter-sm">
      <q-breadcrumbs :active-color="$appConfig.color">
        <q-breadcrumbs-el to="/manager" label="Home" icon="home" />
        <q-breadcrumbs-el to="/manager/stores" label="Stores" />
        <q-breadcrumbs-el to="#" label="Manage" />
      </q-breadcrumbs>
    </div>
    <q-splitter
      v-model="splitterModel"
      :limits="[6, 15]"
      before-class="overflow-hidden"
      after-class="overflow-hidden"
      separator-class="bg-black"
      style="height: 100%"
    >
      <template v-slot:before>
        <q-tabs
          v-if="splitterModel <= 6"
          v-model="tab"
          vertical
          :active-color="$appConfig.color"
          :indicator-color="$appConfig.color"
          no-caps
          inline-label
          class="text-grey-8 shadow-2 text-capitalize"
        >
          <q-tab
            name="details"
            icon="layers"
            style="justify-content:initial"
            class="text-capitalize"
            exact
          />
        </q-tabs>
        <q-tabs
          v-else
          v-model="tab"
          vertical
          :active-color="$appConfig.color"
          :indicator-color="$appConfig.color"
          no-caps
          inline-label
          class="text-grey-8 shadow-2"
        >
          <q-tab
            name="details"
            icon="layers"
            class="text-capitalize"
            label="Details"
            style="justify-content:initial"
            exact
          />
        </q-tabs>
      </template>
      <!-- <template v-slot:separator>
          <q-avatar
            :color="$appConfig.color"
            text-color="white"
            size="md"
            icon="drag_indicator"
          />
      </template>-->
      <template class="row justify-center" v-slot:after>
        <q-tab-panels v-model="tab" animated transition-prev="jump-up" transition-next="jump-up">
          <q-tab-panel name="details">
            <q-card-section :class="'bg-'+$appConfig.color+' text-white'">
              <div class="text-subtitle2">Store's details</div>
            </q-card-section>
            <q-separator class="q-my-md" />
            <p class="text-subtitle1 q-ml-md">Update stores details</p>
            <edit-store v-on:update-store="update" v-bind:store="data"></edit-store>
            <q-separator class="q-my-md" />

            <p class="text-subtitle1 q-ml-md">Delete stores</p>
            <p class="q-ml-md text-weight-light">
              Delete this stores and all of its content
              <q-btn
                label="Delete"
                @click="remove(data.id)"
                flat
                :color="$appConfig.color"
                class="q-ml-sm float-right"
              />
            </p>
          </q-tab-panel>
        </q-tab-panels>
      </template>
    </q-splitter>
  </q-page>
</template>
<script>
import { mapGetters, mapState, mapActions } from "vuex";
import editStore from "./components/edit";
import { notification } from "../../../../mixins/notification";
export default {
  name: "ManageStores",
  components: {
    editStore
  },
  mixins: [notification],
  data() {
    return {
      id: "",
      tab: "details",
      ratio: 16 / 9,
      medium: false,
      splitterModel: 15,
      data: {
        name: "",
        fields: [],
        description: ""
      },
      dialogue: ""
    };
  },
  computed: {},
  methods: {
    ...mapActions({ getStore: "dataStores/get" }),
    ...mapActions({ updateStore: "dataStores/update" }),
    ...mapActions({ removeStore: "dataStores/remove" }),

    update(store) {
      this.$q.loading.show({
        message:
          '<b>Processing</b> your request .<br/><span class="text-primary">Hang on...</span>'
      });
      this.updateStore(store)
        .then(
          response => {
            this.success("Request completed succesfully");
          },
          reason => {
            this.error(
              "Sorry unexpected error , failed to process request ( " +
                reason +
                " )"
            );
          }
        )
        .finally(() => {
          this.$q.loading.hide();
          this.loadData(this.id);
        });
    },
    remove(id) {
      this.$q
        .dialog({
          title: "Confirm delete?",
          message: "This process cannot be undone, are you sure ?",
          cancel: true,
          color: "negative",
          persistent: true
        })
        .onOk(() => {
          this.$q.loading.show({
            message:
              '<b>Processing</b> your request .<br/><span class="text-primary">Hang on...</span>'
          });
          this.removeStore(id)
            .then(
              response => {
                this.success("Request completed succesfully");
              },
              reason => {
                this.error(
                  "Sorry unexpected error , failed to process request ( " +
                    reason +
                    " )"
                );
              }
            )
            .finally(() => {
              this.$q.loading.hide();
              this.$router.push({ path: "/manager/stores/" });
            });
        });
    },
    loadData(id) {
      this.getStore(id).then(response => {
        this.data = response;
      });
    }
  },
  watch: {
    tab: function(val) {
      this.loadData(this.id);
    }
  },
  mounted() {
    this.id = this.$route.params.id;
    this.loadData(this.id);
  }
};
</script>
<style lang="scss">
.tabs-align-left {
  justify-content: initial;
}
</style>
