<template>
  <q-page class="q-pa-md">
    <div class="q-pa-md q-gutter-sm">
      <q-breadcrumbs :active-color="$appConfig.color">
        <q-breadcrumbs-el to="/coordinator" label="Home" icon="home" />
        <q-breadcrumbs-el to="/coordinator/stores" label="Stores" />
        <q-breadcrumbs-el to="#" label="Data" />
      </q-breadcrumbs>
    </div>
    <div class="row q-pa-md justify-center">
      <div class="col-8"></div>
    </div>
  </q-page>
</template>

<script>
export default {
  name: "home",
  components: {}
};
</script>
