<template>
  <q-card class="my-card bg-white no-border-radius shadow-1 text-black" style="max-width: 100%;">
    <q-card-section>
      <div style="border-left: 3px solid #1976d2 !important;">
        <h4 class="text-h6 q-ml-md q-my-sm q-py-sm text-weight-regular text-primary">
          <b>ACTIVITIES BY CLUSTER</b>
        </h4>
      </div>
      <q-separator class="q-mb-lg" />

      <highcharts :options="chartOptions" style="height:400px"></highcharts>
    </q-card-section>
  </q-card>
</template>

<script>
export default {
  name: "BeneficiariesByGender",
  props: ["activities"],
  data() {
    return {
      chartOptions: {}
    };
  },
  watch: {
    activities: function(newVal, oldVal) {
      let data = this.prepareData(newVal);
      console.log(newVal);
      this.loadChart(data);
    }
  },
  mounted() {
    let data = this.prepareData(this.activities);
    this.loadChart(data);
  },
  methods: {
    prepareData(activities) {
      let clusters = activities.map(item => item.clusterFullName);

      let data = [];

      let uniqueClusters = [...new Set(clusters)];

      //let worldCount = uniqueClusters.length;
      uniqueClusters.forEach(item => {
        /* worldCount > 8 && item.split(" ").length > 1
                ? newlabels.push(initialism(item))
                : newlabels.push(item); */

        data.push({
          name: item,
          projects: activities.filter(x => x.clusterFullName === item).length,
          activities: activities
            .filter(x => x.clusterFullName === item)
            .reduce((prev, next) => (prev += next.activitiesCount), 0)
        });
      });

      data = data.sort(function(a, b) {
        return b.activities - a.activities;
      });

      return data;
    },
    loadChart(data) {
      this.chartOptions = {
        legend: {
          layout: "vertical",
          align: "right",
          verticalAlign: "top",
          x: -40,
          y: 100,
          floating: true,
          borderWidth: 1,
          backgroundColor: "#FFFFFF",
          shadow: true
        },
        title: {
          text: null
        },
        chart: {
          type: "column"
        },
        yAxis: {
          visible: false
        },
        plotOptions: {
          column: {
            maxPointWidth: 50,
            dataLabels: {
              enabled: true,
              inside: false,
              style: {
                color: "#2a8acc",
                fontSize: "120%",
                fontWeight: "bold"
              }
            }
          }
        },

        credits: {
          enabled: false
        },
        xAxis: {
          categories: data.map(item => item.name),
          labels: {
            style: {
              color: "#2a8acc",
              fontFamily: "Helvetica, sans-serif",
              fontWeight: "bold"
            }
          }
        },
        series: [
          {
            color: "#2A8ACC",
            name: "activities",
            data: data.map(item => item.activities)
          }
        ]
      };
    }
  }
};
</script>
