<template>
  <q-card flat dense class="widget">
    <q-card-section class="q-gutter-sm row">
      <q-select
        outlined
        color="teal"
        dense
        class="col-xs-12 col-sm-6 col-md-2 col-lg-2 col-xl-2"
        v-model="district"
        :options="districtOptions"
        label="Districts"
      />
      <q-select
        outlined
        color="teal"
        dense
        class="col-xs-12 col-sm-6 col-md-2 col-lg-3 col-xl-3"
        v-model="organization"
        :options="organizationOptions"
        label="Organisations"
      />
      <q-select
        outlined
        color="teal"
        dense
        class="col-xs-12 col-sm-6 col-md-2 col-lg-2 col-xl-2"
        v-model="cluster"
        :options="clusterOptions"
        label="Clusters"
      />
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
        <q-btn-group outline id="btngroup" class="q-my-xs">
          <q-btn
            rounded
            outline
            color="teal"
            size="md"
            @click="setFilters()"
            label="filter"
          />
          <q-btn
            rounded
            outline
            color="teal"
            size="md"
            @click="loadAllData()"
            label="reset"
          />
          <q-btn
            color="teal"
            size="md"
            @click="screenshot()"
            label="screenshot"
          />
        </q-btn-group>
      </div>
    </q-card-section>
  </q-card>
</template>
<script>
//import GeneralSummaries from "../components/GeneralSummaries";
import common from "../../../mixins/index";
import { openURL } from "quasar";
export default {
  components: {},
  props: ["activities"],
  mixins: [common],
  data() {
    return {
      yearOptions: [],
      year: "",
      districts: "",
      district: "",
      organization: "",
      organizationOptions: [],
      districtOptions: [],
      cluster: "",
      period: "",
      clusterOptions: [],
      bufferOptions: [],
      options: []
    };
  },
  watch: {
    activities: function(newVal, oldVal) {
      //console
      if (newVal.length > oldVal.length) this.loadFilters([...newVal]);
      //else this.loadFilters(oldVal);
    }
  },
  mounted() {
    this.organization = "All";
    this.cluster = "All";
    this.district = "All";
    this.loadFilters([...this.activities]);
  },
  computed: {
    selection() {
      return Object.keys(this.desert)
        .filter(type => this.desert[type] === true)
        .join(", ");
    }
  },
  methods: {
    print() {
      this.$eventHub.$emit("printImage");
    },
    screenshot() {
      this.$emit("screenshot");
    },
    setFilters() {
      this.$emit("filtered", {
        organization: this.organization,
        cluster: this.cluster,
        district: this.district
      });
    },
    loadAllData() {
      //this.year = "All";
      this.organization = "All";
      this.cluster = "All";
      this.district = "All";
      this.$emit("filtered", {
        //year: "",
        organization: "",
        cluster: "",
        district: ""
      });
      this.$emit("resetDistricts");
    },

    loadFilters(activities) {
      //this.year = "All";
      /* this.districts = [...new Set(activities.map(item => item.district))]
        .sort(function(a, b) {
          return ("" + a).localeCompare(b);
        })
        .join(" | "); */

      let clusters = activities.map(item => item.cluster).filter(Boolean);

      //console.log(activities, clusters);

      let uniqueClusters = [...new Set(clusters)].sort();

      this.clusterOptions = [];
      this.clusterOptions.push("All");
      uniqueClusters.forEach(item => {
        this.clusterOptions.push(item);
      });

      let localDistricts = [
        ...new Set(activities.map(item => item.district).filter(Boolean))
      ].sort();
      this.districtOptions = [];
      this.districtOptions.push("All");

      localDistricts.forEach(item => {
        this.districtOptions.push(item);
      });
      // console.log(activities);
      let organizations = activities
        .reduce((prev, item) => (prev = [...prev, ...item.organization]), [])
        .filter(Boolean); //.map(item => item.organization.trim());
      let uniqueOrganizations = [...new Set(organizations)].sort();
      this.organizationOptions = [];
      this.organizationOptions.push("All");
      uniqueOrganizations.forEach(item => {
        this.organizationOptions.push(item);
      });

      //console.log(this.organizationOptions);

      let year1 = new Date().getFullYear();
      this.yearOptions.push("All");
      for (let i = year1; i >= 2007; i--) {
        this.yearOptions.push(i);
      }
    }
  }
};
</script>
