<template>
  <q-card flat dense class="widget">
    <q-card-actions>
      <span class="text-caption text-weight-bold">Key figures</span>
    </q-card-actions>
    <q-card-section class="q-gutter-sm row justify-between">
      <q-card
        flat
        bordered
        style="height:10vh;color:white;width:22%"
        class="col-2 col-xs-2 q-ma-xs no-border-radius bg-teal-5 text-center q-pa-md"
      >
        <q-card-section horizontal class="text-center">
          <div class="text-h5 text-weight-bold">{{organizations_number}}</div>
        </q-card-section>
        <q-card-section horizontal class="text-center">
          <div class="text-weight-medium">Organisations</div>
        </q-card-section>
        <q-tooltip
          anchor="bottom middle"
          self="top middle"
          :offset="[10, 10]"
        >number of organisations with projects</q-tooltip>
      </q-card>
      <q-card
        flat
        bordered
        style=" height:10vh;color:white;width:22%"
        class="col-2 col-xs-2 q-ma-xs no-border-radius bg-teal-5 text-center q-pa-md"
      >
        <q-card-section horizontal class="text-center">
          <div class="text-h5 text-weight-bold">{{districts_number}}</div>
        </q-card-section>
        <q-card-section horizontal class="text-center">
          <div class="text-weight-medium">Districts</div>
        </q-card-section>
        <q-tooltip
          anchor="bottom middle"
          self="top middle"
          :offset="[10, 10]"
        >number of districts where there are projects</q-tooltip>
      </q-card>
      <q-card
        flat
        bordered
        style=" height:10vh;color:white;width:22%"
        class="col-2 col-xs-2 q-ma-xs no-border-radius bg-teal-5 text-center q-pa-md"
      >
        <q-card-section horizontal class="text-center">
          <div class="text-h5 text-weight-bold">{{projects_number}}</div>
        </q-card-section>
        <q-card-section horizontal class="text-center">
          <div class="text-weight-medium">Projects</div>
        </q-card-section>
        <q-tooltip
          anchor="bottom middle"
          self="top middle"
          :offset="[10, 10]"
        >number of projects happening</q-tooltip>
      </q-card>
      <q-card
        flat
        bordered
        style=" height:10vh;color:white;width:22%"
        class="col-2 col-xs-2 q-ma-xs no-border-radius bg-teal-5 text-center q-pa-md"
      >
        <q-card-section horizontal class="text-center">
          <div class="text-h5 text-weight-bold">{{cluster_number}}</div>
        </q-card-section>
        <q-card-section horizontal class="text-center">
          <div class="text-weight-medium">Clusters</div>
        </q-card-section>
        <q-tooltip
          anchor="bottom middle"
          self="top middle"
          :offset="[10, 10]"
        >number of clusters in which projects are working in</q-tooltip>
      </q-card>
    </q-card-section>
  </q-card>
</template>
<script>
var abbreviate = require("number-abbreviate");
export default {
  props: ["activities"],
  data() {
    return {
      beneficiary_number: 0,
      cluster_number: 0,
      projects_number: 0,
      districts_number: 0,
      organizations_number: 0,
      activities_number: 0,
      budget_number: 0,
      thisActivities: []
    };
  },
  watch: {
    activities: function(newVal, oldVal) {
      // watch it
      //console.log("Prop changed: ", newVal, " | was: ", oldVal);
      this.loadStats(newVal);
    }
  },
  mounted() {
    this.loadStats(this.activities);
  },
  methods: {
    numberWithCommas(number) {
      return number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    },
    loadStats(activity) {
      activity = activity;
      //console.log(activity.length);
      /**this.beneficiary_number = abbreviate(
        activity.reduce(
          (prev, item) =>
            (prev += parseInt(item.beneficiary.male || 0)) +
            parseInt(item.beneficiary.female || 0),
          0
        )
      );*/
      //console.log([...new Set(activity.map(item => item.cluster))]);
      this.cluster_number =this.numberWithCommas(
        [...new Set(activity.map(item => item.cluster))].length
      ) 

      this.districts_number = this.numberWithCommas(
        [...new Set(activity.map(item => item.district))].length
      )
      
     

      this.organizations_number =  [
        ...new Set(
          activity.reduce(
            (prev, item) => (prev = [...prev, ...item.organization]),
            []
          )
        )
      ].length;
      
   
      this.projects_number = this.numberWithCommas(activity.length);
      this.budget_number = abbreviate(
        activity.reduce(
          (prev, next) =>
            (prev += parseFloat(isNaN(next.budget) ? 0 : next.budget)),
          0
        )
      );
    }
  }
};
</script>
