<template>
  <div ref="mapidscreen">
    <q-card class="my-card text-black q-mx-xs" style="width:100%;">
      <q-card-body>
        <div class="-map q-ma-none" id="mapid">
          <l-map
            :v-if="done"
            :zoom="7"
            :center="[-13.2, 34.3]"
            :options="{ gestureHandling: true }"
            ref="map"
          >
            <l-tile-layer :url="url" :attribution="attribution"></l-tile-layer>
            <l-geo-json
              v-for="l in locations"
              :key="l.location.fid"
              :geojson="l.location"
              :options-style="styleFunction"
              :options="options"
            ></l-geo-json>
            <!--  <l-control position="topright">
              <div class="info">
                <table width="100%" class="legend">
                  <caption class="text-black">
                    KEY
                  </caption>
                  <tr>
                    <td>
                      <img src="~assets/Rainfall.svg" style="width: 1em;" />
                    </td>
                    <td style="color: black; font-size: 12px">Rainfall</td>
                  </tr>
 
                  <tr>
                    <td>
                      <img src="~assets/Sunshine.svg" style="width: 1em;" />
                    </td>
                    <td style="color: black; font-size: 12px">Sunshine</td>
                  </tr>
                  <tr>
                    <td>
                      <img src="~assets/Humidity.svg" style="width: 1em;" />
                    </td>
                    <td style="color: black; font-size: 12px">Humidity</td>
                  </tr>
                  <tr>
                    <td>
                      <img src="~assets/Temperature.svg" style="width: 1em;" />
                    </td>
                    <td style="color: black; font-size: 12px">Temperature</td>
                  </tr>
                  <tr>
                    <td>
                      <img src="~assets/Wind.svg" style="width: 1em;" />
                    </td>
                    <td style="color: black; font-size: 12px">Wind</td>
                  </tr>
                </table>
              </div>
            </l-control> -->
          </l-map>
        </div>
      </q-card-body>
    </q-card>
  </div>
</template>

<script>
import L from "leaflet";
require("leaflet/dist/leaflet.css");
import * as Vue2Leaflet from "vue2-leaflet";
import {
  LMap,
  LTileLayer,
  LMarker,
  LGeoJson,
  LPopup,
  LControl,
  LPolygon
} from "vue2-leaflet";
require("leaflet-easyprint");
import { GestureHandling } from "leaflet-gesture-handling";
import Vue2LeafletMarkercluster from "vue2-leaflet-markercluster";
import data from "../../../data/malawi.json";
//import { EventBus } from "../bus-event/event-bus";
import { FourWs } from "../../../api/5Ws";
const domtoimage = require("dom-to-image");
//import common from "../mixins/index";

export default {
  name: "MalawiMap",
  props: ["record"],
  components: {
    LControl,
    LPolygon,
    LMap,
    LTileLayer,
    LMarker,
    LGeoJson,
    LPopup,
    "l-marker-cluster": Vue2LeafletMarkercluster
  },
  //mixins: [common],
  data() {
    return {
      self: this,
      done: false,
      legendString: "",
      layerGroupData: null,
      latlong: [],
      url: "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png ",
      attribution:
        '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
      geojson: null,
      locations: [],
      fillColor: "#F2C037"
    };
  },
  methods: {
    //printing method
    printImage() {
      let buttons = document.getElementsByTagName("button");
      let self = this;
      self.hide(buttons);
      //console.log(this.$refs.mapidscreen);
      domtoimage
        .toJpeg(this.$refs.mapidscreen, {
          quality: 1,
          bgcolor: "white"
        })
        .then(function(dataUrl) {
          var link = document.createElement("a");
          link.download = `5Ws-map${Date.now()}.jpg`;
          link.href = dataUrl;
          link.click();
          self.show(buttons);
        });
    },
    hide(buttons) {
      document.getElementById("btngroup").style.visibility = "hidden";
      for (let i = 0; i < buttons.length; i++) {
        buttons[i].style.visibility = "hidden";
      }
    },
    show(buttons) {
      document.getElementById("btngroup").style.visibility = "visible";
      for (let i = 0; i < buttons.length; i++) {
        buttons[i].style.visibility = "visible";
      }
    },
    setDistrictName(district) {
      this.$emit("clicked", district);
    },
    loadAllDistricts() {
      this.$emit("resetDistricts");
    },
    loadMap(record) {
      let geojson = null;

      let id = 0;
      geojson = data;
      let tmpLocations = null;
      tmpLocations = [];
      this.locations = [];

      let self = this;
      for (let l of geojson.features) {
        if (record.some(item => item.district === l.properties.ADMIN3)) {
          tmpLocations.push({
            id: id,
            location: l
          });
          id++;
        }
      }
      this.gestureHandling = true;
      this.locations = tmpLocations;
      this.done = true;
      this.reloadMap();
    },
    reloadMap: function() {
      this.$refs.map.mapObject.invalidateSize();
    },
    numberWithCommas(number) {
      return number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    },
    getColor(d) {
      return d >= 82
        ? "#004d40"
        : d >= 60
        ? "#00796b"
        : d >= 40
        ? "#26a69a"
        : d >= 20
        ? "#80cbc4"
        : d >= 10
        ? "#b2dfdb"
        : d >= 1
        ? "#e0f2f1"
        : "white";
    }
  },
  watch: {
    record: function(newVal, oldVal) {
      this.done = "false";
      this.gestureHandling = false;
      this.locations = null;
      //console.log(newVal);
      this.loadMap(newVal);
    }
  },
  computed: {
    options() {
      return {
        onEachFeature: this.onEachFeatureFunction
      };
    },
    styleFunction() {
      const fillColor = this.fillColor;
      let self = this; // important! need touch fillColor in computed for re-calculate when change fillColor
      return feature => {
        return {
          weight: 2,
          fillColor: self.getColor(
            self.record.filter(
              item => item.district === feature.properties.ADMIN3
            ).length
          ),

          opacity: 1,
          color: "#92dfdb",
          fillOpacity: 1
        };
      };
    },
    highlightFeature(e) {
      info.update(layer.feature.properties);
    },
    resetHighlight(e) {
      info.update();
    },
    onEachFeatureFunction() {
      return (feature, layer) => {
        let district = feature.properties.ADMIN3;
        let data = [...this.record.filter(item => item.district === district)];

        let clusters = data.map(item => item.cluster);

        //console.log(clusters);

        let uniqueClusters = [...new Set(clusters)];

        let uniqueData = [];
        let newData = [];
        uniqueClusters.forEach(cluster => {
          newData = data.filter(item => item.cluster === cluster);
          //console.log(newData);
          uniqueData.push({
            activity: newData.length,
            beneficiary: data
              .reduce((prev, item) => (prev = [...prev, ...item.record]), [])
              .reduce(
                (prev, next) =>
                  (prev +=
                    parseInt(next.target.temperature || 0) +
                    parseInt(next.target.humidity || 0) +
                    parseInt(next.target.sunshine || 0) +
                    parseInt(next.target.wind || 0) +
                    parseInt(next.target.rainfall || 0)),
                0
              )
          });
        });

        let message = "";
        let self = this;

        if (
          feature.properties &&
          feature.properties.ADMIN3 &&
          data.length > 0
        ) {
          layer.on("click", function(e) {
            self.setDistrictName(feature.properties.ADMIN3);
          });

          message = `<div class="text-center" >
                      <div  style="color:teal;margin:0 auto"><b>${data.length} Project(s)</b></br></div>
                    </div>
                    `;
        }

        message += `<br/><center><b>${this.numberWithCommas(
          uniqueData[0].beneficiary || 0
        )} people targeted </b><br/><b style="color:#1976d2">${
          feature.properties.ADMIN3
        }</center></br>`;
        layer
          .bindTooltip(message, {
            direction: "top"
          })
          .openTooltip();
      };
    }
  },

  created() {
    L.Map.addInitHook("addHandler", "gestureHandling", GestureHandling);
  },
  mounted() {
    this.locations = null;
    this.loadMap(this.record);
    /*  var printer = L.easyPrint({
      sizeModes: ["Current", "A4Landscape", "A4Portrait"],
      filename: `5Ws-dashboard${Date.now()}.jpg`,
      title: `5Ws-dashboard${Date.now()}.jpg`,
      exportOnly: true
    }).addTo(this.$refs.map.mapObject); */
    setTimeout(function() {
      window.dispatchEvent(new Event("resize"));
    }, 250);
  }
};
</script>

<style scoped>
@import "~leaflet.markercluster/dist/MarkerCluster.css";
@import "~leaflet.markercluster/dist/MarkerCluster.Default.css";

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.info h4 {
  margin: 0 0 5px;
  color: #777;
}

.legend {
  padding: 6px 8px;
  font: 14px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  /*box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);*/
  /*border-radius: 5px;*/
  line-height: 24px;
  color: #555;
}
.legend h4 {
  text-align: center;
  font-size: 16px;
  margin: 2px 12px 8px;
  color: #777;
}

.legend span {
  position: relative;
  bottom: 3px;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin: 0 8px 0 0;
  opacity: 0.7;
}

.legend i.icon {
  background-size: 18px;
  background-color: rgba(255, 255, 255, 1);
}

.leaflet-tooltip {
  padding: 0px 4px 0px 4px !important;
}

#mapid {
  width: 100%;
  height: 750px;
}
.blinking {
  animation: blinkingText 1.2s infinite;
}
@keyframes blinkingText {
  0% {
    color: #000;
  }
  49% {
    color: #000;
  }
  60% {
    color: transparent;
  }
  99% {
    color: transparent;
  }
  100% {
    color: #000;
  }
}
</style>
