<template>
  <q-card flat dense class="widget">
    <q-card-actions>
      <span class="text-weight-bold" style="text-size: 18px">Weather by Status</span>
    </q-card-actions>
    <q-card-section class="q-gutter-sm row flex-center">
      <highcharts :options="chartOptions" style="height:300px; width:100%"></highcharts>
    </q-card-section>
  </q-card>
</template>
