<template>
  <div class="q-pa-xs q-mx-md">
    <q-table
      title
      :data="data"
      :columns="columns"
      row-key="name"
      :filter="filter"
      binary-state-sort
      class="no-border-radius"
    >
      <template v-slot:top-left>
        <q-input
          borderless
          dense
          debounce="300"
          v-model="filter"
          placeholder="Search"
        >
          <template v-slot:append>
            <q-icon name="search" />
          </template>
        </q-input>
      </template>
      <template v-slot:top-right>
        <q-btn
          outline
          color="teal"
          icon="archive"
          label="Export to csv"
          no-caps
          @click="downloadCSV()"
        />
      </template>
    </q-table>
  </div>
</template>
<script>
import { exportFile } from "quasar";

function wrapCsvValue(val, formatFn) {
  let formatted = formatFn !== void 0 ? formatFn(val) : val;

  formatted =
    formatted === void 0 || formatted === null ? "" : String(formatted);

  formatted = formatted.split('"').join('""');
  /**
   * Excel accepts \n and \r in strings, but some other CSV parsers do not
   * Uncomment the next two lines to escape new lines
   */
  // .split('\n').join('\\n')
  // .split('\r').join('\\r')

  return `"${formatted}"`;
}
export default {
  props: ["activities"],
  data() {
    return {
      filter: "",
      loading: false,
      newActivities: [],
      pagination: {
        sortBy: "desc",
        descending: false,
        page: 1,
        rowsPerPage: 10,
        rowsNumber: 10
      },
      columns: [
        {
          name: "code",
          required: true,
          label: "PROJECT_CODE",
          align: "left",
          field: row => row.code,
          sortable: true
        },
        {
          name: "organization",
          required: true,
          label: "ORGANIZATION",
          align: "left",
          field: row => row.organization.join(", "),
          sortable: true
        },
        {
          name: "cluster",
          align: "left",
          label: "CLUSTER(S)",
          field: row => row.cluster,
          sortable: true
        },
        {
          name: "project",
          label: "PROJECT",
          align: "left",
          field: row => row.title,
          sortable: true
        },
        {
          name: "district",
          label: "DISTRICT(S)",
          align: "left",
          field: row => row.district,
          sortable: true
        },

        {
          name: "startdate",
          label: "START DATE",
          align: "left",
          field: row => row.startdate,
          sortable: true
        },
        {
          name: "enddate",
          label: "END DATE",
          align: "left",
          field: row => row.enddate,
          sortable: true
        }
      ],
      data: []
    };
  },
  watch: {
    activities: function(newVal, oldVal) {
      // this.filter = undefined;
      //this.data = [...newVal];
      this.data = [...newVal];
    }
  },
  mounted() {
    // console.log(this.activities);
    this.newActivities = this.activities;
    this.data = [...this.newActivities];
  },
  methods: {
    downloadCSV() {
      this.$emit("download", { filename: "5Ws.csv" });
    }
  }
};
</script>
