<template>
  <div class="row justify-center q-pb-md">
    <q-card class="col-12 q-mx-xl">
      <q-card-section>
        <div class="text-body1 text-weight-thin">
          System usage (6 Months Span)
        </div>
      </q-card-section>
      <q-card-section class="echarts">
        <IEcharts :option="option" :resizable="true" />
      </q-card-section>
    </q-card>
  </div>
</template>
<script>
import IEcharts from "vue-echarts-v3/src/full.js";
import echarts from "echarts/lib/echarts";
import { mapGetters, mapState, mapActions } from "vuex";

export default {
  name: "charts",
  data() {
    return {
      data: [],
      date: [],
      option: {}
    };
  },
  components: {
    IEcharts
  },
  methods: {
    ...mapActions({ getUsageLogs: "adminDashboard/getUsageLogs" })
  },
  beforeMount() {
    this.getUsageLogs().then(response => {
      this.data = response.map(a => a.hits);
      this.date = response.map(a => a.createdon);
      this.option = {
        tooltip: {
          trigger: "axis",
          position: function(pt) {
            return [pt[0], "10%"];
          }
        },
        title: {},
        toolbox: {
          feature: {
            dataZoom: {
              yAxisIndex: "none",
              title: {
                zoom: "area zooming",
                back: "restore area zooming"
              }
            },
            restore: {
              title: "Restore"
            },
            saveAsImage: {
              title: "Save as image"
            }
          }
        },
        xAxis: {
          type: "category",
          boundaryGap: false,
          data: this.date
        },
        yAxis: {
          type: "value",
          boundaryGap: [0, "100%"]
        },
        dataZoom: [
          {
            type: "inside",
            start: 0,
            end: 100
          },
          {
            start: 0,
            end: 10,
            handleIcon:
              "M10.7,11.9v-1.3H9.3v1.3c-4.9,0.3-8.8,4.4-8.8,9.4c0,5,3.9,9.1,8.8,9.4v1.3h1.3v-1.3c4.9-0.3,8.8-4.4,8.8-9.4C19.5,16.3,15.6,12.2,10.7,11.9z M13.3,24.4H6.7V23h6.6V24.4z M13.3,19.6H6.7v-1.4h6.6V19.6z",
            handleSize: "80%",
            handleStyle: {
              color: "#fff",
              shadowBlur: 3,
              shadowColor: "rgba(0, 0, 0, 0.6)",
              shadowOffsetX: 2,
              shadowOffsetY: 2
            }
          }
        ],
        series: [
          {
            name: "Hits",
            type: "line",
            smooth: true,
            symbol: "none",
            sampling: "average",
            itemStyle: {
              color: "rgb(25, 118, 210)"
            },
            areaStyle: {
              color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
                {
                  offset: 0,
                  color: "rgb(50, 52, 168)"
                },
                {
                  offset: 1,
                  color: "rgb(25, 118, 210)"
                }
              ])
            },
            data: this.data
          }
        ]
      };
    });
  }
};
</script>

<style scoped>
.echarts {
  width: 100%;
  height: 360px;
}
</style>
