<template>
  <q-card class="q-mx-xs ">
    <q-card-actions>
      <span class="text-caption text-weight-bold">WEATHER BY STATUS</span>
    </q-card-actions>
    <q-card-section class="q-gutter-sm row flex-center">
      <highcharts :options="chartOptions" style="height: 682px;"></highcharts>
    </q-card-section>
  </q-card>
</template>

<script>
import common from "../../../mixins/index";
export default {
  name: "weatherByStatus",
  props: ["record"],
  mixins: [common],
  data() {
    return {
      statusTypesColors: [
        { status: "Humidity", color: "#DE0000" },
        { status: "Temperature", color: "#EB6E00" },
        { status: "Rainfall", color: "#257DD4" },
        { status: "Sunshine", color: "#38B43D" },
        { status: "Wind", color: "#2E8196" }
      ],

      chartOptions: {}
    };
  },
  watch: {
    record: function(newVal, oldVal) {
      if (this.record.length > 0) this.loadChart([...newVal]);
    }
  },
  mounted() {
    if (this.record.length > 0) this.loadChart([...this.record]);
  },
  methods: {
    loadChart(record) {
      let statuses = record.map(item => item.is_active);
      let countStatusTypes = [];
      this.statusTypesColors.forEach(item => {
        countStatusTypes.push({
          key: item.status,
          value: statuses.filter(value => value === item.status).length,
          color: item.color
        });
      });

      let data = countStatusTypes;
      //console.log(data);
      let total = record.length;
      let newData = [];

      data.forEach(item => {
        newData.push({
          name: item.key,
          y: item.value,
          color: item.color
        });
      });
      this.chartOptions = {
        title: {
          text: null
        },
        chart: {
          type: "pie"
        },
        events: {
          load: function() {
            const series = this.series[0];
            const points = series.data;
            const chart = this;

            points.forEach(function(point) {
              if (point.y <= 4) {
                const myOffset = 20;
                const { x: centerX, y: centerY } = point.graphic.attr();
                const { x, y } = point.dataLabel.attr();
                const angle = point.angle;
                point.dataLabel.attr({
                  x: x + Math.cos(angle) * myOffset,
                  y: y + Math.sin(angle) * myOffset
                });
              }
            });
          }
        },
        credits: {
          enabled: false
        },
        plotOptions: {
          pie: {
            dataLabels: {
              enabled: true,
              distance: -15,
              formatter: function() {
                return Math.round((this.y / total) * 100)
                  ? Math.round((this.y / total) * 100) + "%"
                  : null;
              },
              style: {
                color: "white",
                fontSize: "110%"
              }
            },
            showInLegend: true
          }
        },
        legend: {
          layout: "vertical",
          align: "right",
          verticalAlign: "middle",
          itemMarginTop: 10,
          itemMarginBottom: 10
        },
        series: [
          {
            name: "weather",
            showInLegend: true,
            dataLabels: { enabled: true },
            colorByPoint: true,
            data: newData,
            innerSize: "60%"
          }
        ]
      };
    },
    prepareData(data) {
      let targets = [];
      //console.log(data);
      data.forEach(item => {
        targets.push(...item.record.map(record => record.target));
      });

      return targets;
    }
  }
};
</script>
