<template>
  <div>
    <q-btn
      flat
      :color="$appConfig.color"
      icon="add"
      label="Add new option"
      @click="show()"
      class="q-ma-sm"
    >
      <q-tooltip>create new ussd option</q-tooltip>
    </q-btn>
    <q-dialog
      ref="dialog"
      transition-show="slide-up"
      transition-hide="slide-down"
      persistent
      @hide="close"
    >
      <q-card class="q-dialog-plugin">
        <q-bar :class="'bg-'+$appConfig.color+' text-white'">
          <div>create new option</div>
          <q-space />
          <q-btn dense flat icon="close" v-close-popup>
            <q-tooltip :content-class="'bg-white text-'+$appConfig.color+''">Close</q-tooltip>
          </q-btn>
        </q-bar>

        <q-card-section>
          <q-form @submit="submit" @reset="reset" class="q-gutter-md">
            <q-input
              filled
              dense
              :color="$appConfig.color"
              v-model="fmodel.name"
              label="Name *"
              lazy-rules
              :rules="[ val => val && val.length > 0 || 'Please enter valid option name']"
            />

            <q-select
              dense
              filled
              :color="$appConfig.color"
              v-model="type"
              label="Type"
              :options="types"
              stack-label
              option-value="id"
              :option-label="opt => opt.name"
              required
            />

            <q-select
              dense
              v-if="is_type =='store'"
              filled
              :color="$appConfig.color"
              v-model="principle"
              label="Select store"
              :options="stores"
              stack-label
              option-value="id"
              :option-label="opt => opt.name"
              required
            />

            <q-input
              v-if="is_type =='text'"
              dense
              v-model="fmodel.narrative"
              label="narrative"
              filled
              type="textarea"
            />

            <div align="right">
              <q-btn label="Reset" type="reset" :color="$appConfig.color" flat class="q-ml-sm"></q-btn>
              <q-btn label="Submit" type="submit" :color="$appConfig.color" class="q-ml-sm"></q-btn>
            </div>
          </q-form>
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import { mapGetters, mapState, mapActions } from "vuex";
export default {
  props: ["menu"],
  data() {
    return {
      types: [],
      type: null,
      stores: [],
      sources: [],
      is_type: null,
      principle: null,
      fmodel: {
        name: null,
        narrative: null,
        menuId: null,
        principleId: null,
        optionTypeId: null
      }
    };
  },
  methods: {
    ...mapActions({ getTypes: "ussd/getOptionTypes" }),
    ...mapActions({ getStores: "dataStores/get" }),
    show() {
      this.$refs.dialog.show();
    },
    hide() {
      this.$refs.dialog.hide();
    },

    close() {
      this.$emit("hide");
    },

    submit() {
      //this.fmodel.id = Date.now();
      this.fmodel.menuId = this.menu.id;
      this.fmodel.optionTypeId = this.type.id;
      this.fmodel.optionType = this.type;
      this.fmodel.principleId = this.principle != null ? this.principle.id : "";
      //emit
      this.$emit("create-option", this.fmodel);
      //hide
      this.hide();
      //reset
      this.reset();
    },
    reset() {
      this.type = null;
      this.principle= null;
      this.is_type = null;
      this.fmodel = {
        name: null,
        narrative: null,
        menuId: null,
        principleId: null,
        optionTypeId: null
      };
    },
    cancel() {
      this.hide();
    }
  },
  watch: {
    type: function(val) {
      if (val != null) {
        this.is_type = val.name;
        if (val.name == "store") {
          this.getStores().then(response => {
            this.stores = response;
          });
        } else if (val.name == "source") {
        } else if (val.name == "text") {
          this.principle = null;
          this.fmodel.narrative = null;
        }
      }
    }
  },
  beforeMount() {
    this.getTypes().then(response => {
      this.types = response;
    });

    this.getStores().then(response => {
      this.stores = response;
    });
  }
};
</script>
