<template>
  <q-form @submit="submit" class>
    <q-card flat style="width:100%;">
      <q-card-section class="row q-ma-sm">
        <div class="row col-10 q-gutter-xs">
          <q-input
            filled
            dense
            class="col-11"
            :color="$appConfig.color"
            v-model="fmodel.name"
            label="Name *"
            lazy-rules
            :rules="[ val => val && val.length > 0 || 'Please enter valid option name']"
          />

          <q-select
            dense
            filled
            class="col-11"
            :color="$appConfig.color"
            v-model="fmodel.optionType"
            label="Type"
            :options="types"
            hint=" "
            stack-label
            option-value="id"
            :option-label="opt => opt.name"
            required
          />

          <q-select
            dense
            v-if="is_type =='store'"
            filled
            class="col-11"
            hint=" "
            :color="$appConfig.color"
            v-model="principle "
            label="Select store"
            :options="stores"
            stack-label
            option-value="id"
            :option-label="opt => opt.name"
            required
          />

          <q-input
            v-if="is_type =='text'"
            dense
            hint=" "
            class="col-11"
            v-model="fmodel.narrative"
            label="narrative"
            filled
            type="textarea"
          />
        </div>
        <div class="col-2">
          <q-btn size="md" dense label="update" type="submit" :color="$appConfig.color"></q-btn>
        </div>
      </q-card-section>
    </q-card>
  </q-form>
</template>
<script>
import { mapGetters, mapState, mapActions } from "vuex";
export default {
  props: ["data"],
  data() {
    return {
      types: [],
      type: null,
      stores: [],
      sources: [],
      is_type: null,
      principle: null,
      fmodel: {
        name: null,
        narrative: null,
        menuId: null,
        principleId: null,
        optionTypeId: null,
        optionType: null
      }
    };
  },
  watch: {
    "fmodel.optionType": function(val) {
      if (val != null) {
        this.is_type = val.name;
        if (val.name == "store") {
          this.getStores().then(response => {
            this.stores = response;
            this.principle = this.stores.filter(
              element => element.id == this.fmodel.principleId
            )[0];
            this.fmodel.narrative = null;
          });
        } else if (val.name == "source") {
        } else if (val.name == "text") {
          this.principle = null;
        }
      }
    }
  },
  methods: {
    ...mapActions({ getTypes: "ussd/getOptionTypes" }),
    ...mapActions({ getStores: "dataStores/get" }),
    submit() {
      this.fmodel.optionTypeId = this.fmodel.optionType.id;
      this.fmodel.principleId = this.principle != null ? this.principle.id : "";
      this.$emit("update-data", this.fmodel);
    }
  },
  beforeMount() {
    this.fmodel = JSON.parse(JSON.stringify(this.data));
    this.getTypes().then(response => {
      this.types = response;
    });
  }
};
</script>