<template>
  <div ref="printMe">
    <q-page-container class="bg-grey-3">
      <div
        v-if="!isDone == false"
        class="bg-primary"
        style="width:100%;height:100%;position:absolute; top:0;left:0;z-index:9000"
      ></div>
      <q-page padding class="q-ma-xl q-mt-xl">
        <q-card flat class="q-mt-xl  q-pt-md q-pb-xl justify-center bg-grey-3">
          <q-card-body
            ><div class="row justify-between q-mt-lg q-mb-md">
              <div class="col-2 text-center">
                <q-btn
                  round
                  style="pointer-events: none;height:12em;width:12em"
                >
                  <q-card-section class="col-12">
                    <img src="~assets/Rainfall.svg" style="width: 3em;" />
                    <p class="q-ma-none">Rainfall</p>
                    <q-span class="readings"
                      >{{ getRainfallAvg.toFixed(2) }}mm</q-span
                    >
                  </q-card-section>
                </q-btn>
              </div>

              <div class="col-2 text-center">
                <q-btn
                  round
                  style="pointer-events: none;height:12em;width:12em"
                >
                  <q-card-section class="col-12">
                    <img src="~assets/Sunshine.svg" style="width: 3em;" />
                    <p class="q-ma-none">Sunshine</p>
                    <q-span class="readings"
                      >{{ getSunshineAvg.toFixed(2) }}SD</q-span
                    >
                  </q-card-section>
                </q-btn>
              </div>

              <div class="col-2 text-center">
                <q-btn
                  round
                  style="pointer-events: none;height:12em;width:12em"
                >
                  <q-card-section class="col-12">
                    <img src="~assets/Humidity.svg" style="width: 3em;" />
                    <p class="q-ma-none">Humidity</p>
                    <q-span class="readings"
                      >{{ getHumidityAvg.toFixed(2) }}%</q-span
                    >
                  </q-card-section>
                </q-btn>
              </div>

              <div class="col-2 text-center">
                <q-btn
                  round
                  style="pointer-events: none;height:12em;width:12em"
                >
                  <q-card-section class="col-12">
                    <img src="~assets/Temperature.svg" style="width: 3em;" />
                    <p class="q-ma-none">Temperature</p>
                    <q-span class="readings"
                      >{{ getTemperatureAvg.toFixed(2) }}*</q-span
                    >
                  </q-card-section>
                </q-btn>
              </div>
              <div class="col-2 text-center">
                <q-btn
                  round
                  style="pointer-events: none;height:12em;width:12em"
                >
                  <q-card-section class="col-12">
                    <img src="~assets/Wind.svg" style="width: 3em;" />
                    <p class="q-ma-none">Wind</p>
                    <q-span class="readings"
                      >{{ getWindAvg.toFixed(2) }}km/h</q-span
                    >
                  </q-card-section>
                </q-btn>
              </div>
            </div>
            <div class="col-12">
              <div class="row  q-px-xl">
                <!--MAP-->
                <div class="col-4 ">
                  <dashboard-map
                    v-if="filterByDistrict.length >= 0"
                    :activities="filterByDistrict"
                    @clicked="setDistrictName"
                    class="q-ma-xs q-pl-lg q-mt-lg "
                    @resetDistricts="loadAllDistricts"
                  ></dashboard-map>
                </div>

                <div class="col-8">
                  <WeatherByStatus
                    v-if="filterByDistrict.length >= 0"
                    :activities="filterByDistrict"
                    class="q-ma-xs q-mr-lg q-mt-lg"
                  ></WeatherByStatus>
                </div>
              </div>

              <div class="row q-mx-xl q-px-lg  q-ml-xl justify-center">
                <div class="col-12">
                  <usage class="q-ml-sm"></usage>
                </div>
              </div>
            </div>
          </q-card-body>
        </q-card>

        <!-- place QPageSticky at end of page -->
        <q-page-sticky expand position="top">
          <q-card class="col-12">
            <q-banner>
              <template v-slot:avatar>
                <img
                  src="../../statics/favicon.png"
                  height="50px"
                  class="img-position"
                />
              </template>
              <div
                class="row flex-center q-pa-sm text-weight-light"
                style="font-size:30px; text-color: #000000"
              >
                Malawi USSD Collect Dashboard ({{ period }})
              </div>
            </q-banner>
          </q-card>
        </q-page-sticky>
        <q-page-sticky position="bottom-right" :offset="[100, 100]">
          <q-btn
            style="width:60px;height:60px;"
            fab
            :color="$appConfig.color"
            class="q-ma-sm"
            to="/login"
            label="Login"
          />
        </q-page-sticky>
      </q-page>
    </q-page-container>
  </div>
</template>

<script>
import dashboardMap from "./components/MalawiMap";
import GeneralSummaries from "./components/GeneralSummaries";
import WeatherByStatus from "./components/WeatherByStatus";
import ProjectsByCluster from "./components/ProjectsByCluster";
import ActivitiesByCluster from "./components/ActivitiesByCluster";
import Table from "./components/Table";
const domtoimage = require("dom-to-image");
import Filters from "./components/Filters";
import MalawiMap from "./components/MalawiMap";
import { QSpinnerGrid } from "quasar";
import { Chart } from "highcharts-vue";
import { FiveWs } from "../../api/5Ws";
import Usage from "./components/usage";
import { mapGetters, mapState, mapActions } from "vuex";

export default {
  components: {
    dashboardMap,
    GeneralSummaries,
    ProjectsByCluster,
    WeatherByStatus,
    ActivitiesByCluster,
    Table,
    highcharts: Chart,
    Usage,
    Filters
  },
  name: "dashboard",
  data() {
    return {
      output: null,
      rainfallAvg: 0,
      sunshineAvg: 0,
      humidityAvg: 0,
      temperatureAvg: 0,
      windAvg: 0,
      rainfall: [],
      sunShine: [],
      humidity: [],
      temperature: [],
      wind: [],
      data: [],
      period: "2020-2021",
      districtFilter: "",
      isDone: false,
      counter: 0,
      filteredActivities: [],
      organizations: [],
      left: false,
      right: false,
      Filter: { organization: "", cluster: "", district: "" },
      activities: [],
      downloadPayload: [],
      columns: []
    };
  },
  computed: {
    ...mapGetters({ getAll: "dashboard/get" }),
    ...mapGetters({ getByDistrict: "dashboard/getByDistrict" }),
    ...mapGetters({ getByField: "dashboard/getByField" }),
    getTemperatureAvg() {
      return this.temperatureAvg;
    },
    getRainfallAvg: function() {
      return this.rainfallAvg;
    },
    getSunshineAvg() {
      return this.sunshineAvg;
    },
    getHumidityAvg() {
      return this.humidityAvg;
    },
    getWindAvg() {
      return this.windAvg;
    },
    filterByDistrict: function() {
      if (this.districtFilter != "" && this.districtFilter != "All") {
        //console.log(this.districtFilter);
        this.filteredActivities = [
          ...this.activities.filter(
            item => item.district === this.districtFilter
          )
        ];
      } else {
        this.filteredActivities = [...this.activities];
      }

      if (this.Filter.district != "" && this.Filter.district != "All") {
        this.filteredActivities = [
          ...this.activities.filter(
            item => item.district === this.Filter.district
          )
        ];
      }

      if (this.Filter.organization != "" && this.Filter.organization != "All") {
        //console.log(this.filteredActivities);
        this.filteredActivities = [
          ...this.filteredActivities.filter(
            activity =>
              activity.organization.indexOf(this.Filter.organization) > -1
          )
        ];
      }

      if (this.Filter.cluster != "" && this.Filter.cluster != "All") {
        //console.log(this.filteredActivities);
        this.filteredActivities = [
          ...this.filteredActivities.filter(
            activity => activity.cluster == this.Filter.cluster
          )
        ];
      }

      this.downloadPayload = this.flattenProjects(this.filteredActivities);
      if (this.filteredActivities.length)
        this.calculateYearRange([...this.filteredActivities]);
      //console.log(this.filteredActivities);
      return this.filteredActivities;
    },
    districtFilterString: {
      // getter
      get: function() {
        this.districtFilter;
      },
      // setter
      set: function(newValue) {
        this.districtFilter = newValue;
      }
    }
  },
  methods: {
    showLoading() {
      /* This is for Codepen (using UMD) to work */
      // const spinner =
      //   typeof QSpinnerGrid !== "undefined"
      //     ? QSpinnerGrid // Non-UMD, imported above
      //     : Quasar.components.QSpinnerGrid; // eslint-disable-line
      // /* End of Codepen workaround */
      // this.$q.loading.show({
      //   spinner,
      //   spinnerColor: "teal-10",
      //   spinnerSize: 100,
      //   backgroundColor: "teal-10",
      //   backgroundOpacity: 1,
      //   message: "Malawi 5Ws Dashboard is loading, please wait...",
      //   messageColor: "teal-10"
      // });
    },
    beforeDestroy() {
      if (this.timer !== void 0) {
        clearTimeout(this.timer);
        this.$q.loading.hide();
      }
    },

    setFilter(filter) {
      this.Filter = filter;
    },

    printImage() {
      let buttons = document.getElementsByTagName("button");
      let self = this;
      self.hide(buttons);
      domtoimage
        .toJpeg(this.$refs.printMe, { quality: 1, bgcolor: "white" })
        .then(function(dataUrl) {
          var link = document.createElement("a");
          link.download = `5Ws-dashboard${Date.now()}.jpg`;
          link.href = dataUrl;
          link.click();
          self.show(buttons);
        });
    },
    hide(buttons) {
      document.getElementById("btngroup").style.visibility = "hidden";
      for (let i = 0; i < buttons.length; i++) {
        buttons[i].style.visibility = "hidden";
      }
    },
    show(buttons) {
      document.getElementById("btngroup").style.visibility = "visible";
      for (let i = 0; i < buttons.length; i++) {
        buttons[i].style.visibility = "visible";
      }
    },
    convertArrayOfObjectsToCSV(args) {
      var result, ctr, keys, columnDelimiter, lineDelimiter, data;
      data = args.data || null;
      if (data == null || !data.length) {
        return null;
      }

      columnDelimiter = args.columnDelimiter || ",";
      lineDelimiter = args.lineDelimiter || "\n";

      keys = Object.keys(data[0]);

      result = "";
      let header = keys.map(item => item.toUpperCase());
      result += header.join(columnDelimiter);
      result += lineDelimiter;

      data.forEach(function(item) {
        ctr = 0;
        keys.forEach(function(key) {
          if (ctr > 0) result += columnDelimiter;

          result += item[key];
          ctr++;
        });
        result += lineDelimiter;
      });

      return result;
    },
    downloadCSV(args) {
      var data, filename, link;
      var csv = this.convertArrayOfObjectsToCSV({
        data: this.downloadPayload
      });
      if (csv == null) return;

      filename = args.filename || "export.csv";

      if (!csv.match(/^data:text\/csv/i)) {
        csv = "data:text/csv;charset=utf-8," + csv;
      }
      data = encodeURI(csv);

      link = document.createElement("a");
      link.setAttribute("href", data);
      link.setAttribute("download", filename);
      document.body.appendChild(link);
      link.click();
      document.body.removeChild(link);
    },
    flattenProjects(projects) {
      let projectActivities = [];
      //console.log(projects);
      projects.forEach(project => {
        //if()
        //project.activities.forEach(item => {
        let part = project.implementingPartners
          ? project.implementingPartners.map(item =>
              item.name.replace(",", " - ")
            )
          : [];
        part = part.length > 0 ? part.join(" | ") : "";
        let men = project.activities
          .map(item => parseInt(item.target.men || 0))
          .reduce((p, n) => (p += n), 0);

        let women = project.activities
          .map(item => parseInt(item.target.women || 0))
          .reduce((p, n) => (p += n), 0);

        let boys = project.activities
          .map(item => parseInt(item.target.boys || 0))
          .reduce((p, n) => (p += n), 0);

        let girls = project.activities
          .map(item => parseInt(item.target.girls || 0))
          .reduce((p, n) => (p += n), 0);

        let elderWomen = project.activities
          .map(item => parseInt(item.target.elderWomen || 0))
          .reduce((p, n) => (p += n), 0);

        let elderMen = project.activities
          .map(item => parseInt(item.target.elderMen || 0))
          .reduce((p, n) => (p += n), 0);

        let total = girls + boys + men + women;

        projectActivities.push({
          organization: project.organization.join("|"),
          cluster: project.cluster,
          project: project.title.replace(",", " - "),
          project_status: project.is_active,
          //description: project.description,
          implementing_Partners: part,
          district: project.district,
          startDate: project.startdate,
          endDate: project.enddate,
          total_beneficiaries: total || 0,
          men_beneficiaries: men || 0,
          women_beneficiaries: women || 0,
          boys_beneficiaries: boys || 0,
          girls_beneficiaries: girls || 0,
          budget_amount: project.budget ? project.budget.amount : 0,
          budget_currency: project.budget.currency.name,
          contact_person: project.focalpoint
            ? project.focalpoint.name +
              " | " +
              project.focalpoint.phone +
              " | " +
              project.focalpoint.email
            : "",
          code: project.code
        });
        //});
      });
      //console.log(projectActivities);
      return projectActivities;
    },
    setDistrictName(district) {
      //console.log(district);
      this.districtFilterString = district;
    },
    loadAllDistricts() {
      //console.log(this.Filter);
      //this.filteredActivities = [...this.activities];
      this.districtFilterString = "All";
    },
    loadAllData() {
      //console.log(this.Filter);
      this.filteredActivities = [...this.activities];
      //this.districtFilterString = "All";
    },
    calculateYearRange(activities) {
      //console.log(activities);
      let end = [
        ...new Set(activities.map(item => item.enddate.split("-")[2]))
      ].sort();

      let start = [
        ...new Set(activities.map(item => item.startdate.split("-")[2]))
      ].sort();

      this.period = `${start[0]}-${end[end.length - 1]}`;
    }
  },
  async mounted() {
    let self = this;
    this.counter = 0;
    //this.$store.dispatch("dashboard/setData");

    let projectLocations = [];
    this.showLoading();
    let data = await FiveWs.getDashboardData();

    setTimeout(() => {
      this.data = data;
      this.rainfall = data.filter(item => item.field.trim() == "Rainfall");
      this.sunshine = data.filter(item => item.field.trim() == "Sunshine");
      this.humidity = data.filter(item => item.field.trim() == "Humidity");
      this.temperature = data.filter(
        item => item.field.trim() == "Temperature"
      );
      this.wind = data.filter(item => item.field.trim() == "Wind direction");

      this.rainfallAvg =
        this.rainfall.length > 0
          ? this.rainfall.reduce((sum, curr) => (sum += curr.value), 0) /
            this.rainfall.length
          : 0;
      this.sunshineAvg =
        this.sunshine.length > 0
          ? this.sunshine.reduce((sum, curr) => (sum += curr.value), 0) /
            this.sunshine.length
          : 0;
      this.humidityAvg =
        this.humidity.length > 0
          ? this.humidity.reduce((sum, curr) => (sum += curr.value), 0) /
            this.humidity.length
          : 0;
      this.temperatureAvg =
        this.temperature.length > 0
          ? this.temperature.reduce((sum, curr) => (sum += curr.value), 0) /
            this.temperature.length
          : 0;
      this.windAvg =
        this.wind.length > 0
          ? this.wind.reduce((sum, curr) => (sum += curr.value), 0) /
            this.wind.length
          : 0;
    }, 3000);

    //console.log(this.rainfall);
    //fetch all stores Ids
  }
};
</script>

<style lang="sass" scoped>


.my-card
  width: 100%
  max-width: 300px

.img-position
  position: absolute
  margin-top: 2rem
  left: 200px

.widgets
  width: 100%

.echarts
  width: 100%;
  max-width: 2000px
  height: 320px;

.q-btn
  text-transform: none
  width: 120px
  height: 120px
  background-color: white

.q-ma-none
  font-size: 14px;
  text-align: center

.readings
  font-size: 18px
  font-weight: bold

.my-card
  width: 100%
  max-width: 300px

.col-md
  display: flex;
  justify-content: center;
</style>
