<template>
  <q-page class="q-pa-md">
    <div class="q-pa-md q-gutter-sm">
      <q-breadcrumbs :active-color="$appConfig.color">
        <q-breadcrumbs-el to="/admin" label="Home" icon="home" />
        <q-breadcrumbs-el to="#" label="Organizations" />
      </q-breadcrumbs>
    </div>
    <q-splitter
      v-model="splitterModel"
      :limits="[6, 15]"
      before-class="overflow-hidden"
      after-class="overflow-hidden"
      separator-class="bg-black"
      style="height: 100%"
    >
      <template v-slot:before>
        <q-tabs
          v-if="splitterModel <= 6"
          v-model="tab"
          vertical
          :active-color="$appConfig.color"
          :indicator-color="$appConfig.color"
          no-caps
          inline-label
          class="text-grey-8 shadow-2 text-capitalize"
        >
          <q-tab
            class="text-capitalize"
            name="all"
            :label="'all (' + getAllOrganizations.length + ')'"
            icon="layers"
            style="justify-content:initial"
            exact
          />
          <q-tab
            class="text-capitalize"
            v-for="type in getAllTypes"
            :key="type.id"
            :name="type.id"
            :label="
              type.label.default.substring(0, 2) +
                ' (' +
                getByTypeId(type.id).length +
                ')'
            "
            icon="layers"
            style="justify-content:initial"
            exact
          />
        </q-tabs>
        <q-tabs
          v-else
          v-model="tab"
          vertical
          :active-color="$appConfig.color"
          :indicator-color="$appConfig.color"
          no-caps
          inline-label
          class="text-grey-8 shadow-2 text-capitalize"
        >
          <q-tab
            class="text-capitalize"
            name="all"
            icon="layers"
            :label="'all (' + getAllOrganizations.length + ')'"
            style="justify-content:initial"
            exact
          />
          <q-tab
            class="text-capitalize"
            v-for="type in getAllTypes"
            :key="type.id"
            :name="type.id"
            :label="
              type.label.default.substring(0, 20) +
                ' (' +
                getByTypeId(type.id).length +
                ')'
            "
            icon="layers"
            style="justify-content:initial"
            exact
          />
        </q-tabs>
      </template>
      <!-- <template dense v-slot:separator>
        <q-avatar :color="$appConfig.color" dense text-color="white" size="md" icon="drag_indicator" />
      </template>-->
      <template class="justify-center" v-slot:after>
        <q-tab-panels
          v-model="tab"
          animated
          transition-prev="jump-up"
          transition-next="jump-up"
        >
          <q-tab-panel name="all">
            <q-table
              class="text-capitalize"
              title="all organizations"
              :data="getAllOrganizations"
              :columns="columns"
              :color="$appConfig.color"
              :pagination.sync="pagination"
              row-key="name"
              :filter="filter"
              flat
              borderless
              binary-state-sort
              :loading="loading"
            >
              <template v-slot:top-right>
                <q-input
                  class="rcorners1"
                  borderless
                  autocorrect="off"
                  :color="$appConfig.color"
                  autocomplete="off"
                  debounce="300"
                  v-model="filter"
                  placeholder="Search"
                >
                  <template v-slot:append>
                    <q-icon :color="$appConfig.color" name="search" />
                  </template>
                </q-input>
                <create-organization
                  v-on:create-organization="create"
                ></create-organization>
              </template>
              <template v-slot:body="props">
                <q-tr :props="props">
                  <q-td key="icon" :props="props" class="flex-center">
                    <q-avatar v-if="props.row.icon != null" size="md">
                      <img :src="props.row.icon" />
                    </q-avatar>
                    <q-avatar
                      v-else
                      size="md"
                      :color="$appConfig.color"
                      text-color="white"
                      icon="public"
                    />
                    <br />
                    {{ props.row.name_short.substring(0, 6) }}
                    <span v-if="props.row.name_short.length > 6">..</span>
                  </q-td>
                  <q-td key="name" :props="props">
                    {{ props.row.name.substring(0, 100) }}
                    <q-btn
                      flat
                      round
                      :color="$appConfig.color"
                      size="xs"
                      icon="info"
                      @click="info(props.row.description)"
                    />
                  </q-td>
                  <q-td key="type" :props="props">{{
                    props.row.organizationType.label.default
                  }}</q-td>
                  <q-td key="status" :props="props">
                    <q-badge v-if="props.row.is_active == true" color="green">
                      <q-icon name="lock_open" color="white" />Active
                    </q-badge>
                    <q-badge v-else color="red">
                      <q-icon name="lock" color="white" />Inactive
                    </q-badge>
                  </q-td>
                  <q-td key="options" :props="props">
                    <q-btn round flat icon="more_vert">
                      <q-menu
                        auto-close
                        :offset="[110, 0]"
                        anchor="center middle"
                        self="top right"
                      >
                        <q-list style="min-width: 150px">
                          <q-item
                            clickable
                            :to="'/admin/organizations/manage/' + props.row.id"
                          >
                            <q-item-section avatar>
                              <q-icon name="create" />
                            </q-item-section>
                            <q-item-section>Manage</q-item-section>
                          </q-item>
                          <!-- <q-item clickable @click="remove(props.row.id)">
                          <q-item-section avatar>
                            <q-icon name="delete" />
                          </q-item-section>
                          <q-item-section>Remove</q-item-section>
                          </q-item>-->
                        </q-list>
                      </q-menu>
                    </q-btn>
                  </q-td>
                </q-tr>
              </template>
              <template v-slot:loading>
                <q-inner-loading showing :color="$appConfig.color" />
              </template>
            </q-table>
          </q-tab-panel>
          <q-tab-panel
            v-for="type in getAllTypes"
            :key="type.id"
            :name="type.id"
          >
            <q-table
              class="text-capitalize"
              :title="type.label.default + ' organizations'"
              :data="getByTypeId(type.id)"
              :columns="columns"
              :pagination.sync="pagination"
              row-key="id"
              :filter="filter"
              flat
              :color="$appConfig.color"
              borderless
              binary-state-sort
              :loading="loading"
            >
              <template v-slot:top-right>
                <q-input
                  class="rcorners1"
                  borderless
                  autocorrect="off"
                  :color="$appConfig.color"
                  autocomplete="off"
                  debounce="300"
                  v-model="filter"
                  placeholder="Search"
                >
                  <template v-slot:append>
                    <q-icon :color="$appConfig.color" name="search" />
                  </template>
                </q-input>
                <create-organization
                  v-on:create-organization="create"
                ></create-organization>
              </template>
              <template v-slot:body="props">
                <q-tr :props="props">
                  <q-td key="icon" :props="props" class="flex-center">
                    <q-avatar v-if="props.row.icon != null" size="md">
                      <img :src="props.row.icon" />
                    </q-avatar>
                    <q-avatar
                      v-else
                      size="md"
                      :color="$appConfig.color"
                      text-color="white"
                      icon="public"
                    />
                    <br />
                    {{ props.row.name_short.substring(0, 6) }}
                    <span v-if="props.row.name_short.length > 6">..</span>
                  </q-td>
                  <q-td key="name" :props="props">
                    {{ props.row.name.substring(0, 100) }}
                    <q-btn
                      flat
                      round
                      :color="$appConfig.color"
                      size="xs"
                      icon="info"
                      @click="info(props.row.description)"
                    />
                  </q-td>
                  <q-td key="type" :props="props">{{
                    props.row.organizationType.label.default
                  }}</q-td>
                  <q-td key="status" :props="props">
                    <q-badge v-if="props.row.is_active == true" color="green">
                      <q-icon name="lock_open" color="white" />Active
                    </q-badge>
                    <q-badge v-else color="red">
                      <q-icon name="lock" color="white" />Inactive
                    </q-badge>
                  </q-td>
                  <q-td key="options" :props="props">
                    <q-btn round flat icon="more_vert">
                      <q-menu
                        auto-close
                        :offset="[110, 0]"
                        anchor="center middle"
                        self="top right"
                      >
                        <q-list style="min-width: 150px">
                          <q-item
                            clickable
                            :to="'/admin/organizations/manage/' + props.row.id"
                          >
                            <q-item-section avatar>
                              <q-icon name="create" />
                            </q-item-section>
                            <q-item-section>Manage</q-item-section>
                          </q-item>
                          <!-- <q-item clickable @click="remove(props.row.id)">
                          <q-item-section avatar>
                            <q-icon name="delete" />
                          </q-item-section>
                          <q-item-section>Remove</q-item-section>
                          </q-item>-->
                        </q-list>
                      </q-menu>
                    </q-btn>
                  </q-td>
                </q-tr>
              </template>
              <template v-slot:loading>
                <q-inner-loading showing :color="$appConfig.color" />
              </template>
            </q-table>
          </q-tab-panel>
        </q-tab-panels>
      </template>
    </q-splitter>
  </q-page>
</template>
<script>
import { mapGetters, mapState, mapActions } from "vuex";
import { QSpinnerGrid } from "quasar";
import { notification } from "../../../../mixins/notification";
import createOrganization from "./components/create";
export default {
  name: "Organizations",
  components: {
    createOrganization
  },
  mixins: [notification],
  data() {
    return {
      tab: "all",
      ratio: 16 / 9,
      medium: false,
      splitterModel: 15,
      pagination: {
        rowsPerPage: 10
      },
      organization_types: [],
      filter: "",
      columns: [
        {
          name: "icon",
          align: "left",
          label: "",
          field: "type.icon",
          sortable: true
        },
        {
          name: "name",
          required: true,
          label: "Name",
          align: "left",
          field: row => row.name,
          format: val => `${val}`,
          sortable: true
        },
        {
          name: "type",
          align: "center",
          label: "Type",
          field: "type",
          sortable: true
        },
        {
          name: "status",
          align: "center",
          label: "Active status",
          field: "is_active",
          sortable: false
        },
        {
          name: "options",
          align: "right",
          label: "Options"
        }
      ],
      loading: true,
      data: []
    };
  },
  computed: {
    ...mapGetters({ getAllOrganizations: "organizations/get" }),
    ...mapGetters({ getByTypeId: "organizations/getByTypeId" }),
    ...mapGetters({ getAllTypes: "organizations/getTypes" })
  },
  methods: {
    ...mapActions({ getOrganizations: "organizations/get" }),
    ...mapActions({ createOrganization: "organizations/create" }),
    ...mapActions({ removeOrganization: "organizations/remove" }),
    ...mapActions({ getTypes: "organizations/getTypes" }),
    create(organization) {
      this.$q.loading.show({
        message:
          '<b>Processing</b> your request .<br/><span class="text-primary">Hang on...</span>'
      });
      this.createOrganization(organization)
        .then(
          response => {
            this.success("Request completed succesfully");
          },
          reason => {
            this.error(
              "Sorry unexpected error , failed to process request ( " +
                reason +
                " )"
            );
          }
        )
        .finally(() => {
          this.$q.loading.hide();
        });
    },
    remove(id) {
      this.$q
        .dialog({
          title: "Confirm delete?",
          message: "This process cannot be undone, are you sure ?",
          cancel: true,
          color: "negative",
          persistent: true
        })
        .onOk(() => {
          this.$q.loading.show({
            message:
              '<b>Processing</b> your request .<br/><span class="text-primary">Hang on...</span>'
          });
          this.removeOrganization(id)
            .then(
              response => {
                this.success("Request completed succesfully");
              },
              reason => {
                this.error(
                  "Sorry unexpected error , failed to process request ( " +
                    reason +
                    " )"
                );
              }
            )
            .finally(() => {
              this.$q.loading.hide();
            });
        });
    },
    load() {
      this.getOrganizations().then(response => {
        this.loading = false;
      });
    }
  },
  beforeMount() {
    this.load();
    this.getTypes().then(response => {});
  }
};
</script>
<style lang="scss">
.tabs-align-left {
  justify-content: initial;
}
.rcorners1 {
  border-radius: 25px;
  background: rgb(229, 229, 229);
  padding: 20px;
  width: 300px;
  height: 10px;
}
</style>
