<template>
  <div class="fixed-center text-center">
    <p>
      <img src="~assets/sad.svg" style="width:30vw;max-width:150px;" />
    </p>
    <p class="text-faded">
      Sorry, error loading page 
      <strong>(404)</strong>
    </p>
    <q-btn   outline  dense :color="$appConfig.color" style="width:200px;" :to="'/'+getRole().name" label="Go back" />
  </div>
</template>

<script >
import { mapState, mapActions, mapGetters } from "vuex";
export default {
  name: "Error404",
  methods: {
    ...mapGetters({ getRole: "session/getRole" })
  }
};
</script>
