<template>
  <q-page class="window-height window-width items-center text-weight-thin">
    <div class="col window-height window-width row justify-center items-center">
      <div v-show="show" class="column flex-center">
        <div class>
          <img src="statics/logo.svg" height="50px" />
        </div>
        <div class="text-h6 q-pa-sm text-weight-light">
          {{ $appConfig.name }}
        </div>
        <q-card flat>
          <q-card-section>
            <q-form class="q-gutter-md">
              <q-input
                ref="email"
                square
                filled
                dense
                :color="$appConfig.color"
                clearable
                :rules="[val => !!val || 'email is required']"
                v-model="creds.email"
                type="email"
                label="email"
              />
              <q-input
                ref="password"
                square
                filled
                dense
                :color="$appConfig.color"
                v-model="creds.password"
                :rules="[val => !!val || 'password is required']"
                :type="isPwd ? 'password' : 'text'"
                label="password"
              >
                <template v-slot:append>
                  <q-icon
                    :name="isPwd ? 'visibility_off' : 'visibility'"
                    class="cursor-pointer"
                    @click="isPwd = !isPwd"
                  />
                </template>
              </q-input>
            </q-form>
          </q-card-section>
          <q-card-actions class="q-px-md">
            <q-btn
              unelevated
              outline
              :color="$appConfig.color"
              @click="submit"
              class="full-width"
              label="Login"
            />
          </q-card-actions>
          <q-card-section class="text-center q-pa-none"> </q-card-section>
        </q-card>
      </div>
    </div>
  </q-page>
</template>
<script>
import { mapState, mapActions, mapGetters } from "vuex";
import { notification } from "../mixins/notification";
import { QSpinnerGears } from "quasar";
export default {
  name: "Login",
  mixins: [notification],
  data() {
    return {
      isPwd: true,
      show: false,
      creds: {
        email: null,
        password: null
      }
    };
  },
  computed: {},
  methods: {
    ...mapGetters({ getRole: "session/getRole" }),
    ...mapGetters({ getUser: "session/getUser" }),
    ...mapActions({ login: "session/login" }),
    ...mapActions({ check: "session/check" }),
    submit() {
      this.$refs.email.validate();
      this.$refs.password.validate();
      if (this.$refs.password.hasError || this.$refs.email.hasError) {
        this.formHasError = true;
      } else {
        this.$q.loading.show({
          message:
            'Authentication <b>process</b> is in progress.<br/><span class="text-primary">Hang on...</span>'
        });
        this.login(this.creds)
          .then(
            response => {
              console.log(response.account.admin2Id);
              this.$store.dispatch(
                "accounts/setLocationId",
                response.account.admin2Id
              );
              this.success("Welcome , " + this.getUser().name);
              this.$router.push({ path: "/" + this.getRole().name });
            },
            reason => {
              this.error("failed to login  (" + reason + ")");
            }
          )
          .finally(() => {
            this.$q.loading.hide();
          });
      }
    }
  },
  mounted() {
    this.$q.loading.show({
      spinner: QSpinnerGears,
      spinnerColor: "black",
      messageColor: "black",
      backgroundColor: "white",
      message: "initializing ..."
    });

    this.check()
      .then(response => {
        if (response !== false) {
          this.success("Welcome back , " + this.getUser().name);
          this.$router.push({
            path: "/" + this.getRole().name
          });
        } else {
          this.show = true;
        }
      })
      .finally(() => {
        this.$q.loading.hide();
      });
  }
};
</script>
<style>
.q-card {
  width: 360px;
}
</style>
