<template>
  <q-card class="map-card q-ma-sm row">
    <q-card-section class="col-7">
      <div id="mapContainer"></div>
    </q-card-section>
    <q-card-section class="col-5 text-right">
      <span class="text-h4 text-weight-light">{{ locations.length }}</span>
      <p class="text-body1 text-weight-thin">Districts</p>
      <q-separator />
      <q-chip size="md" v-for="item in locations" :key="item.id">
        <q-avatar :color="$appConfig.color" text-color="white">{{ item.number_of_projects }}</q-avatar>
        {{ item.admin2.properties.ADM2_EN }}
      </q-chip>
    </q-card-section>
  </q-card>
</template>
<script>
import { mapGetters, mapState, mapActions } from "vuex";
import "leaflet/dist/leaflet.css";
import L from "leaflet";
import polygonCenter from "geojson-polygon-center";

export default {
  data() {
    return {
      locations: [],
      layers: null,
      map: {},
      display: null,
      style: {
        "stroke-width": "1",
        color: "#ff0000",
        weight: 2,
        opacity: 0.4
      }
    };
  },
  methods: {
    ...mapActions({ getLocations: "adminDashboard/getLocations" }),
    loadLocations(locations) {
      for (let i = 0; i < locations.length; i++) {
        let location = locations[i];
        var center = polygonCenter(location.admin2.geometry);
        let circle = L.circle([center.coordinates[1], center.coordinates[0]], {
          "stroke-width": "4",
          color: "#0000FF",
          weight: 1,
          opacity: 1,
          radius: location.number_of_projects * 10000
        }).addTo(this.map);
        circle
          .bindPopup(
            location.admin2.properties.ADM2_EN +
              " (" +
              location.number_of_projects +
              ")"
          )
          .on("mouseover", function(ev) {
            ev.target.openPopup();
          });
      }
    },
    loadMap() {
      //Provider
      var provider = L.tileLayer(
        "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
        {
          maxZoom: 19,
          attribution:
            '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }
      );
      //map
      this.map = L.map("mapContainer").setView([-13.2512161, 34.3015278], 6);
      provider.addTo(this.map);
    },
    loadData() {
      this.getLocations().then(response => {
        this.locations = response;
        this.loadLocations(this.locations);
      });
    }
  },
  mounted() {
    this.loadMap();
    this.loadData();
  },
  beforeDestroy() {
    if (this.map) {
      this.map.remove();
    }
  }
};
</script>
<style scoped>
#mapContainer {
  height: 450px;
  max-width: 400px;
}
.map-card {
  width: 100%;
  max-width: 630px;
}
.button {
  background-color: #008cba;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
</style>
