<template>
  <div class="row">
    <q-card class="col-12 col-md q-mr-md q-mb-md row">
      <q-card-section class="col-4">
        <img src="~assets/Accounts.svg" style="width: 6em;" />
      </q-card-section>
      <q-card-section class="col-8 text-right">
        <span class="text-h4 text-weight-light">{{ accounts.length }}</span>
        <p class="text-body1 text-weight-thin">Accounts</p>
      </q-card-section>
    </q-card>

    <q-card class="col-12 col-md q-ml-none q-mb-md row">
      <q-card-section class="col-4">
        <img
          src="~assets/Data Store.svg"
          style="width: 4em; margin-top: 12px"
        />
      </q-card-section>
      <q-card-section class="col-8 text-right">
        <span class="text-h4 text-weight-light">{{ organizations }}</span>
        <p class="text-body1 text-weight-thin">Organizations</p>
      </q-card-section>
    </q-card>
  </div>
</template>

<script>
import { mapGetters, mapState, mapActions } from "vuex";
export default {
  data() {
    return {
      accounts: 0,
      organizations: 0,
      stores: 0
    };
  },
  computed: {
    ...mapGetters({ getAllAccounts: "accounts/getAllAccountsByLocation" })
  },
  methods: {
    ...mapActions({ getAccounts: "accounts/get" }),
    ...mapActions({ getOrganizations: "adminDashboard/getOrganizations" }),
    ...mapActions({ getStores: "dataStores/getAllStores" })
  },

  beforeMount() {
    this.getAccounts().then(response => {
      this.accounts = response;
    });
    this.getOrganizations().then(response => {
      this.organizations = response;
    });
    // this.getStores().then(response => {
    //   this.stores = response;
    // });
  }
};
</script>
