<template>
    <q-card flat dense class="q-dialog-plugin">
      <q-card-section>
        <q-form @submit="submit" class="q-gutter-md">
          <q-input
            filled
            dense
            class="col-3"
            :color="$appConfig.color"
            v-model="account.name"
            label="Name"
            lazy-rules
            :rules="[ val => val && val.length > 0 || 'Please enter valid name']"
          />

          <q-input
            filled
             dense
             class="col-3"
             :color="$appConfig.color"
            v-model="account.phone"
            label="Phone"
            mask="(###) ### - ####"
            fill-mask
            :rules="[ val => val && val.length > 0 || 'Please enter valid phone number']"
          />

          <q-input
            filled
            dense
            class="col-3"
            :color="$appConfig.color"
            type="email"
            v-model="account.email"
            label="Email"
            lazy-rules
            :rules="[ val => val && val.length > 0 || 'Please enter valid email']"
          />

         
          <q-toggle v-model="account.is_active"   :color="$appConfig.color" />

          <div align="left">
            <q-btn label="Save" type="submit"   :color="$appConfig.color" class="q-ml-sm" />
          </div>
        </q-form>
      </q-card-section>
    </q-card>
</template>

<script>
export default {
  props: ["account"],
  data() {
    return {
    };
  },

  methods: {
    submit() {
      this.$emit("update-account", this.account);
    }
  },
  beforeMount() {
  },
   computed: {
  }
};
</script>