<template>
  <q-layout view="lHh Lpr lFf" class="bg-grey-3">
    <q-header elevated>
      <q-toolbar class="bg-white text-grey-9">
        <!-- <q-btn
          flat
          v-if="$q.screen.gt.sm"
          round
          icon="menu"
          aria-label="Menu"
          @click="miniState = !miniState"
        />-->

        <q-btn
          flat
          v-if="!$q.screen.gt.sm"
          round
          icon="menu"
          aria-label="Menu"
          @click="leftDrawerOpen = !leftDrawerOpen"
        />

        <q-toolbar-title class>
          <q-avatar v-if="organization.icon != null" size="md">
            <img :src="organization.icon" />
          </q-avatar>
          <img v-else src="statics/logo.svg" height="30px" />
          <small class="text-weight-light text-bold">
            {{ organization.name }}</small
          >
        </q-toolbar-title>

        <div>
          {{ $appConfig.name }}
          <small class="text-weight-thin">{{ $appConfig.version }}</small>
        </div>
        <q-space />
        <div
          class="cursor-pointer non-selectable"
          v-for="district in districts"
        >
          Manager :
          <span class="text-weight-light text-bold">{{ user.email }}</span>
          <q-badge
            class="q-ma-sm"
            :color="$appConfig.color"
            clickable
            @click="logout"
            >log out</q-badge
          >
        </div>

        <!-- <q-btn round flat icon="message" />
        <q-btn round flat icon="more_vert">
          <q-menu auto-close :offset="[0, 10]">
            <q-list style="min-width: 150px" class="text-center">
              <q-item>
                <q-item-section>
                  <div class="text-body1">{{ user.name }}</div>
                  <small class="text-caption  text-weight-light">({{ user.email }})</small>
                </q-item-section>
              </q-item>
              <q-separator />
              <q-item clickable @click="settings">
                <q-item-section>Settings</q-item-section>
              </q-item>
              <q-item clickable @click="logout">
                <q-item-section>Logout</q-item-section>
              </q-item>
            </q-list>
          </q-menu>
        </q-btn>-->
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
      content-class="bg-white"
      :width="280"
    >
      <q-list padding class="text-grey-8">
        <q-item-label header class="text-grey-8">Modules</q-item-label>
        <q-item
          class="GNL__drawer-item"
          v-ripple
          v-for="link in menu"
          :key="link.title"
          :to="link.link"
          clickable
        >
          <q-item-section avatar>
            <q-icon :name="link.icon" />
          </q-item-section>
          <q-item-section>
            <q-item-label>{{ link.title }}</q-item-label>
          </q-item-section>
        </q-item>

        <q-separator inset class="q-my-sm" />

        <q-item
          class="GNL__drawer-item"
          v-ripple
          v-for="link in otherLinks"
          :key="link.title"
          :to="link.link"
          clickable
        >
          <q-item-section avatar>
            <q-icon :name="link.icon" />
          </q-item-section>
          <q-item-section>
            <q-item-label>{{ link.title }}</q-item-label>
          </q-item-section>
        </q-item>

        <q-separator inset class="q-my-sm" />

        <div class="q-mt-md">
          <div class="flex flex-center q-gutter-xs">
            <a
              class="GNL__drawer-footer-link"
              href="javascript:void(0)"
              aria-label="Help"
              >Help</a
            >
            <span>·</span>
            <a
              class="GNL__drawer-footer-link"
              href="javascript:void(0)"
              aria-label="Terms"
              >Terms</a
            >
            <span>·</span>
            <a
              class="GNL__drawer-footer-link"
              href="javascript:void(0)"
              aria-label="About"
              >About the developer</a
            >
          </div>
        </div>
      </q-list>
    </q-drawer>

    <q-page-container>
      <!-- <q-scroll-area   :thumb-style="thumbStyle"
      :content-style="contentStyle"
      style="height:100vh; width: 100%;">-->
      <router-view />
      <!-- </q-scroll-area> -->
    </q-page-container>
  </q-layout>
</template>

<script>
import { notification } from "../../../mixins/notification";
import { QSpinnerGears } from "quasar";
import { mapState, mapActions, mapGetters } from "vuex";
export default {
  name: "managerLayout",
  mixins: [notification],
  components: {},
  data() {
    return {
      districts: [],
      miniState: false,
      leftDrawerOpen: true,
      application: {},
      contentStyle: {
        backgroundColor: "rgba(0,0,0,0.02)",
        color: "#555"
      },
      contentActiveStyle: {
        backgroundColor: "#eee",
        color: "black"
      },

      thumbStyle: {
        right: "2px",
        borderRadius: "5px",
        backgroundColor: "#027be3",
        width: "5px",
        opacity: 0.75
      },
      user: {},
      organization: {},
      menu: [
        { icon: "home", title: "Home", link: "/manager", caption: "dashboard" },
        {
          icon: "supervisor_account",
          title: "Accounts",
          link: "/manager/accounts",
          caption: "manage user accounts"
        },
        {
          icon: "domain",
          title: "Organization",
          link: "/manager/organization",
          caption: "manage organization"
        },

        {
          icon: "ballot",
          title: "Data store",
          link: "/manager/stores",
          caption: "manage data stores"
        },

        {
          icon: "speaker_phone",
          title: "USSD",
          link: "/manager/ussd",
          caption: "manage your ussd menus"
        },
        // {
        //   icon: "move_to_inbox",
        //   title: "Data source",
        //   link: "/manager/source",
        //   caption: "manage data sources"
        // }
      ],
      otherLinks: [
        {
          icon: "settings",
          title: "Settings",
          link: "/manager/settings",
          caption: "configure system preferences"
        }
      ]
    };
  },
  computed: {
    ...mapGetters({ getUser: "session/getUser" }),
    ...mapGetters({ getOrganization: "session/getOrganization" })
  },
  methods: {
    ...mapActions({ logoutUser: "session/logout" }),
    ...mapActions({ getAdmin2s: "boundaries/getCleanAdmin2s" }),
    settings() {
      this.$router.push({ path: "/manager/settings" });
    },

    logout() {
      this.$q
        .dialog({
          title: "Confirm logout?",
          message: "all session and unsaved data will cleared !",
          cancel: true,
          persistent: true
        })
        .onOk(() => {
          this.$q.loading.show({
            message:
              '<b>Processing</b> your request .<br/><span class="text-primary">Hang on...</span>'
          });
          this.logoutUser()
            .then(
              response => {
                this.success("you have securely logged out of your account");
              },
              reason => {
                this.error(
                  "Sorry unexpected error , failed to logout ( " + reason + " )"
                );
              }
            )
            .finally(() => {
              this.$q.loading.hide();
              this.$router.push({ path: "/" });
            });
        });
    }
  },
  beforeMount() {
    this.user = this.getUser;
    this.organization = this.getOrganization;
    this.id = this.getUser.admin2Id;
    this.getAdmin2s(this.id).then(response => {
      var record = response;
      console.log(response);
      this.districts.push(record);
    });
  }
};
</script>
<style lang="sass">
.GNL
  &__toolbar
    height: 64px
  &__toolbar-input
    width: 55%
  &__drawer-item
    line-height: 24px
    border-radius: 0 24px 24px 0
    margin-right: 12px
    .q-item__section--avatar
      .q-icon
        color: #5f6368
    .q-item__label
      color: #3c4043
      letter-spacing: .01785714em
      font-size: .875rem
      font-weight: 500
      line-height: 1.25rem
  &__drawer-footer-link
    color: inherit
    text-decoration: none
    font-weight: 500
    font-size: .75rem
    &:hover
      color: #000
</style>
