<template>
    <q-card flat dense class="q-dialog-plugin">
      <q-card-section>
        <q-form @submit="submit" class="q-gutter-md">
          <q-select
            dense
            filled
            :color="$appConfig.color"
            v-model=" fmodel.role"
            label="Account type"
            :options="data.roles"
            stack-label
            :option-value="opt => opt"
            :option-label="opt => opt.name"
            required
          />
          <q-select
            v-if="admin == false"
            filled
            :color="$appConfig.color"
            v-model=" fmodel.admin2"
            use-chips
            :option-value="opt => opt"
            :option-label="opt => opt.properties.ADM2_EN"
            :options="data.districts"
            label="Location"
          />

          <div align="left">
            <q-btn label="Save" type="submit" :color="$appConfig.color" class="q-ml-sm" />
          </div>
        </q-form>
      </q-card-section>
    </q-card>
</template>

<script>
import { mapGetters, mapState, mapActions } from "vuex";
export default {
  props: ["profile"],
  data() {
    return {
      data: { roles: [], districts: [], organisation: null },
      districts: [],
      admin: null,
      fmodel: {
        phone: "",
        details: {},
        is_active: true,
        name: "",
        role: null,
        username: this.email,
        email: "",
        password: "",
        roleId: "",
        organizationId: "",
        admin2Id: "",
        admin2: null,
        emailVerified: true
      }
    };
  },

  watch: {
    "fmodel.role": function() {
      if (this.fmodel.role != null) {
        if (this.fmodel.role.name != "admin") {
          this.admin = false;
        } else {
          this.admin = true;
        }
      }
    }
  },

  methods: {
    ...mapActions({ getAccountsRoles: "accounts/getRoles" }),
    ...mapActions({ getAdmin2s: "boundaries/getCleanAdmin2s" }),
    submit() {
      this.fmodel.roleId = this.fmodel.role != null ? this.fmodel.role.id : "";
      this.fmodel.admin2Id =
        this.fmodel.admin2 != null ? this.fmodel.admin2.id : "";
      delete this.fmodel.admin2;
      this.$emit("update-account", this.fmodel);
    }
  },
  beforeMount() {
    this.getAccountsRoles().then(response => {
      this.data.roles = response;
    });

    this.getAdmin2s().then(response => {
      this.data.districts = response;
    });

    this.fmodel = JSON.parse(JSON.stringify(this.profile));

    if (this.fmodel.role.name != "admin") {
      this.admin = false;
    } else {
      this.admin = true;
      this.fmodel.admin2 = null;
    }
  },
  computed: {}
};
</script>