<template>
  <div>
    <q-btn flat dense icon="supervisor_account" @click="show()" class="q-ml-md">
      +
      <q-tooltip>create new account</q-tooltip>
    </q-btn>
    <q-dialog
      persistent
      transition-show="slide-up"
      transition-hide="slide-down"
      ref="dialog"
      @hide="close"
    >
      <q-card
        class="q-dialog-plugin"
        style="width: 40vw; max-width: 80vw; height:70vh;max-height:80vh;"
      >
        <q-bar :class="'bg-' + $appConfig.color + ' text-white'">
          <div>create new account</div>
          <q-space />

          <q-btn dense flat icon="close" v-close-popup>
            <q-tooltip :content-class="'bg-white text-' + $appConfig.color + ''"
              >Close</q-tooltip
            >
          </q-btn>
        </q-bar>

        <q-card-section>
          <q-stepper
            v-model="step"
            ref="stepper"
            header-nav
            vertical
            flat
            :color="$appConfig.color"
            animated
          >
            <q-step
              title="Service details"
              caption="general information to deal with the account"
              :name="1"
              :color="$appConfig.color"
              icon="settings"
              :done="step > 1"
              :header-nav="step > 1"
            >
              <div class="row">
                <div class="q-gutter-md col-7">
                  <q-input
                    filled
                    :color="$appConfig.color"
                    dense
                    v-model="fmodel.name"
                    label="Name *"
                    hint="required"
                    lazy-rules
                    :rules="[
                      val =>
                        (val && val.length > 0) || 'Please enter valid name'
                    ]"
                  />

                  <q-input
                    filled
                    dense
                    :color="$appConfig.color"
                    v-model="fmodel.phone"
                    label="Phone *"
                    mask="(###) ### - ####"
                    fill-mask
                    hint="required"
                    :rules="[
                      val =>
                        (val && val.length > 0) ||
                        'Please enter valid phone number'
                    ]"
                  />

                  <q-select
                    dense
                    :color="$appConfig.color"
                    filled
                    v-model="role"
                    label="Account type"
                    :options="roles"
                    stack-label
                    :option-value="opt => opt"
                    :option-label="opt => opt.name"
                    required
                  />
                </div>
              </div>
            </q-step>

            <q-step
              :name="2"
              :header-nav="step > 2"
              title="Location "
              :color="$appConfig.color"
              caption="the account loaction"
              icon="link"
            >
              <div class="row">
                <div class="q-gutter-md col-7">
                  <q-input
                    v-if="admin === false"
                    filled
                    :color="$appConfig.color"
                    v-model="district"
                    label="Location"
                  />
                </div>
              </div>
            </q-step>

            <template v-slot:navigation>
              <q-stepper-navigation>
                <q-btn
                  @click="$refs.stepper.next()"
                  :color="$appConfig.color"
                  label="Continue"
                  v-if="step < 2"
                />
                <q-btn
                  v-else
                  label="Finish"
                  @click="submit()"
                  :color="$appConfig.color"
                />
                <q-btn
                  v-if="step > 1"
                  flat
                  :color="$appConfig.color"
                  @click="$refs.stepper.previous()"
                  label="Back"
                  class="q-ml-sm"
                />
              </q-stepper-navigation>
            </template>
          </q-stepper>
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import { mapGetters, mapState, mapActions } from "vuex";
export default {
  data() {
    return {
      isPwd: true,
      admin: true,
      roles: [],
      step: 1,
      district: "",
      organizations: [],
      organization: null,
      location: null,
      role: null,
      id: "",
      fmodel: {
        phone: "",
        details: {},
        is_active: true,
        name: "",

        roleId: "",
        organizationId: "",
        admin2Id: ""
      }
    };
  },

  methods: {
    ...mapActions({ getOrganizations: "organizations/get" }),
    ...mapActions({ getAccountsRoles: "accounts/getRoles" }),
    ...mapActions({ getAdmin2s: "boundaries/getCleanAdmin2s" }),
    ...mapGetters({ getUser: "session/getUser" }),
    show() {
      this.$refs.dialog.show();
    },
    hide() {
      this.$refs.dialog.hide();
    },
    close() {
      this.$emit("hide");
    },
    submit() {
      this.fmodel.roleId = this.role != null ? this.role.id : "";
      this.fmodel.admin2Id = this.location != null ? this.location.id : "";
      this.fmodel.organizationId =
        this.organization != null ? this.organization.id : "";
      //additionals
      this.fmodel.role = this.role;
      if (this.admin == false) {
        this.fmodel.admin2 = this.location != null ? this.location : "";
        this.fmodel.organization =
          this.organization != null ? this.organization : "";
      }

      //emit
      this.$emit("create-account", this.fmodel);
      //hide
      this.hide();
      //reset
      this.reset();
    },
    reset() {
      (this.step = 1), (this.type = { name: null });
      (this.location = null),
        (this.role = null),
        (this.fmodel = {
          phone: "",
          details: {},
          is_active: true,
          name: "",

          roleId: "",
          organizationId: "",
          admin2Id: "",
          emailVerified: true
        });
    },

    cancel() {
      this.hide();
    }
  },
  watch: {
    role: function(val) {
      if (val != null) {
        if (val.name != "admin") {
          this.admin = false;
        } else {
          this.admin = true;
          this.organization = null;
          this.location = null;
        }
      }
    }
  },
  beforeMount() {
    this.getOrganizations().then(response => {
      this.organizations = response;
    });

    this.getAccountsRoles().then(response => {
      this.roles = response;
    });
    this.id = this.getUser().admin2Id;
    // this.admin2Id = this.getUser().admin2Id;
    //this.id = "5e41cfd5dc40669faa3c75ba";
    this.getAdmin2s(this.id).then(response => {
      this.district = response.properties.ADM2_EN;
    });
  }
};
</script>
