<template>
  <div>
    <q-table
      class="text-capitalize"
      :data="data"
      :columns="columns"
      :pagination.sync="pagination"
      row-key="id"
      :filter="filter"
      flat
      :color="$appConfig.color"
      borderless
      binary-state-sort
      :loading="loading"
    >
      <template v-slot:top="props">
        <q-space />

        <q-input
          class="rcorners1"
          borderless
          autocorrect="off"
          :color="$appConfig.color"
          autocomplete="off"
          debounce="300"
          v-model="filter"
          placeholder="Search"
        >
          <template v-slot:append>
            <q-icon :color="$appConfig.color" name="search" />
          </template>
        </q-input>
        <q-btn
          flat
          :color="$appConfig.color"
          dense
          :icon="props.inFullscreen ? 'fullscreen_exit' : 'fullscreen'"
          @click="props.toggleFullscreen"
          class="q-ml-md"
        />
        <q-btn
          flat
          :color="$appConfig.color"
          dense
          icon-right="archive"
          label="Export"
          no-caps
          @click="exportTable"
        />
      </template>

      <template v-slot:body="props">
        <q-tr :props="props" :key="`m_${props.row.id}`">
          <q-td key="name" :props="props">{{ props.row.name }}</q-td>
          <q-td key="type" :props="props">{{ props.row.type }}</q-td>
          <q-td key="createdon" :props="props">{{
            props.row.createdon | moment("MMMM Do YYYY, h:mm:ss a")
          }}</q-td>
        </q-tr>
      </template>
      <template v-slot:loading>
        <q-inner-loading showing :color="$appConfig.color" />
      </template>
    </q-table>
  </div>
</template>

<script>
import { mapState, mapActions, mapGetters } from "vuex";
import { exportFile } from "quasar";

function wrapCsvValue(val, formatFn) {
  let formatted = formatFn !== void 0 ? formatFn(val) : val;

  formatted =
    formatted === void 0 || formatted === null ? "" : String(formatted);

  formatted = formatted.split('"').join('""');
  /**
   * Excel accepts \n and \r in strings, but some other CSV parsers do not
   * Uncomment the next two lines to escape new lines
   */
  // .split('\n').join('\\n')
  // .split('\r').join('\\r')

  return `"${formatted}"`;
}
export default {
  props: ["profile"],
  data() {
    return {
      filter: "",
      pagination: {
        rowsPerPage: 20
      },
      columns: [
        {
          name: "name",
          align: "left",
          label: "Name",
          field: "name",
          sortable: true
        },
        {
          name: "type",
          label: "Type",
          align: "center",
          field: "type",
          sortable: true
        },
        {
          name: "createdon",
          label: "Log date",
          field: "createdon",
          sortable: true
        }
      ],
      loading: true,
      data: []
    };
  },
  computed: {},
  methods: {
    exportTable() {
      // naive encoding to csv format
      const content = [this.columns.map(col => wrapCsvValue(col.label))]
        .concat(
          this.data.map(row =>
            this.columns
              .map(col =>
                wrapCsvValue(
                  typeof col.field === "function"
                    ? col.field(row)
                    : row[col.field === void 0 ? col.name : col.field],
                  col.format
                )
              )
              .join(",")
          )
        )
        .join("\r\n");

      const status = exportFile(
        this.profile.email + ".csv",
        content,
        "text/csv"
      );

      if (status !== true) {
        this.$q.notify({
          message: "Browser denied file download...",
          color: "negative",
          icon: "warning"
        });
      }
    }
  },
  beforeMount() {
    this.data = this.profile.logs;
    this.loading = false;
  }
};
</script>
<style lang="scss">
.tabs-align-left {
  justify-content: initial;
}
.height {
  height: 10px;
}
.rcorners1 {
  border-radius: 25px;
  background: rgb(229, 229, 229);
  padding: 20px;
  width: 300px;
  height: 10px;
}
</style>
