<template>
  <div>
    <q-btn flat round dense icon="people" @click="show()" class="q-ml-md">+
      <q-tooltip>create new group</q-tooltip>
    </q-btn>
    <q-dialog
      ref="dialog"
      transition-show="slide-up"
      transition-hide="slide-down"
      persistent
      @hide="close"
    >
      <q-card class="q-dialog-plugin">
        <q-bar class="bg-primary text-white">
          <div>create new group</div>
          <q-space />
          <q-btn dense flat icon="close" v-close-popup>
            <q-tooltip content-class="bg-white text-primary">Close</q-tooltip>
          </q-btn>
        </q-bar>

        <q-card-section>
          <q-form @submit="submit" @reset="reset" class="q-gutter-md">
            <q-input
              filled
              dense
              v-model="fmodel.name"
              label="Name *"
              hint="required"
              lazy-rules
              :rules="[ val => val && val.length > 0 || 'Please enter valid group name']"
            />

            <q-input
              dense
              v-model="fmodel.description"
              label="Description"
              hint="optional but recommended"
              filled
              type="textarea"
            />
            <div align="right">
              <q-btn label="Reset" type="reset" color="primary" flat class="q-ml-sm"></q-btn>
              <q-btn label="Submit" type="submit" color="primary" class="q-ml-sm"></q-btn>
            </div>
          </q-form>
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
export default {
  props: {
  },
  data() {
    return {
      fmodel: {
        name: "",
        description: "",
        is_active: true
      }
    };
  },

  methods: {
    show() {
      this.$refs.dialog.show();
    },
    hide() {
      this.$refs.dialog.hide();
    },

    close() {
      this.$emit("hide");
    },

    submit() {
      //emit
      this.$emit("create-group", this.fmodel);
      //hide
      this.hide();
      //reset
      this.reset();
    },
    reset() {
      this.fmodel = {
        name: "",
        description: "",
        is_active: true
      };
    },
    cancel() {
      this.hide();
    }
  }
};
</script>