<template>
  <q-page class="q-pa-none">
    <div class="q-pa-md q-gutter-sm">
      <q-breadcrumbs :active-color="$appConfig.color">
        <q-breadcrumbs-el to="/coordinator" label="Home" icon="home" />
      </q-breadcrumbs>
    </div>
    <div class="row">
      <stats class="col-12 q-pt-none q-pl-md q-pr-md"></stats>
      <usage class="col-12 q-pt-none q-pl-md q-pr-md"></usage>
     
    </div>
  </q-page>
</template>

<script>
import Stats from "./widgets/stats";
import Usage from "./widgets/usage";
export default {
  name: "home",
  components: {
    Stats,
    Usage
  }
};
</script>
