<template>
  <q-page class="q-pa-md">
    <div class="q-pa-md q-gutter-sm">
      <q-breadcrumbs :active-color="$appConfig.color">
        <q-breadcrumbs-el to="/manager" label="Home" icon="home" />
        <q-breadcrumbs-el to="#" label="Organization" />
      </q-breadcrumbs>
    </div>
    <q-splitter
      v-model="splitterModel"
      :limits="[6, 15]"
      before-class="overflow-hidden"
      after-class="overflow-hidden"
      separator-class="bg-black"
      style="height: 100%"
    >
      <template v-slot:before>
        <q-tabs
          v-if="splitterModel <= 6"
          v-model="tab"
          vertical
          :active-color="$appConfig.color"
          :indicator-color="$appConfig.color"
          no-caps
          inline-label
          class="text-grey-8 shadow-2 text-capitalize"
        >
          <q-tab
            name="details"
            icon="layers"
            style="justify-content:initial"
            class="text-capitalize"
            exact
          />
        </q-tabs>
        <q-tabs
          v-else
          v-model="tab"
          vertical
          :active-color="$appConfig.color"
          :indicator-color="$appConfig.color"
          no-caps
          inline-label
          class="text-grey-8 shadow-2"
        >
          <q-tab
            name="details"
            icon="layers"
            class="text-capitalize"
            label="Details"
            style="justify-content:initial"
            exact
          />
        </q-tabs>
      </template>
      <!-- <template v-slot:separator>
          <q-avatar
            :color="$appConfig.color"
            text-color="white"
            size="md"
            icon="drag_indicator"
          />
      </template>-->
      <template class="row justify-center" v-slot:after>
        <q-tab-panels v-model="tab" animated transition-prev="jump-up" transition-next="jump-up">
          <q-tab-panel name="details">
            <q-card-section :class="'bg-'+$appConfig.color+' text-white'">
              <div class="text-subtitle2">Organization's details</div>
            </q-card-section>
            <q-separator class="q-my-md" />
            <div class="q-ma-md">
              <img
                v-if="data.icon != null"
                :src="data.icon"
                style="height: 140px; max-width: 150px"
              />
              <img v-else src="statics/logo.png" height="30px" />
            </div>
            <edit-organization v-on:update-organization="update" v-bind:organization="data"></edit-organization>
          </q-tab-panel>
        </q-tab-panels>
      </template>
    </q-splitter>
  </q-page>
</template>
<script>
import { mapGetters, mapState, mapActions } from "vuex";
import editOrganization from "./components/edit";
import { notification } from "../../../../mixins/notification";
export default {
  name: "ManageOrganizations",
  components: {
    editOrganization
  },
  mixins: [notification],
  data() {
    return {
      id: "",
      tab: "details",
      ratio: 16 / 9,
      medium: false,
      splitterModel: 15,
      data: {
        name: "",
        name_short: "",
        description: "",
        icon: "",
        organizationType: {
          id: "",
          label: {}
        },
        is_active: true
      },
      dialogue: ""
    };
  },
  computed: {
    ...mapGetters({ userOrganization: "session/getOrganization" })
  },
  methods: {
    ...mapActions({ getOrganization: "organizations/get" }),
    ...mapActions({ updateOrganizations: "organizations/update" }),
    ...mapActions({ removeOrganizations: "organizations/remove" }),

    update(organization) {
      this.$q.loading.show({
        message:
          '<b>Processing</b> your request .<br/><span class="text-primary">Hang on...</span>'
      });
      this.updateOrganizations(organization)
        .then(
          response => {
            this.success("Request completed succesfully");
          },
          reason => {
            this.error(
              "Sorry unexpected error , failed to process request ( " +
                reason +
                " )"
            );
          }
        )
        .finally(() => {
          this.$q.loading.hide();
          this.loadData(this.id);
        });
    },
    loadData(id) {
      this.getOrganization(id).then(response => {
        this.data = response;
      });
    }
  },
  watch: {
    tab: function(val) {
      this.loadData(this.id);
    }
  },
  beforeMount() {
    this.id = this.userOrganization.id;
    this.loadData(this.id);
  }
};
</script>
<style lang="scss">
.tabs-align-left {
  justify-content: initial;
}
</style>
