<template>
  <q-page class="q-pa-md">
    <div class="q-pa-md q-gutter-sm">
      <q-breadcrumbs :active-color="$appConfig.color">
        <q-breadcrumbs-el to="/coordinator" label="Home" icon="home" />
        <q-breadcrumbs-el to="/coordinator/stores" label="Stores" />
        <q-breadcrumbs-el to="#" :label="store.name" />
      </q-breadcrumbs>
    </div>
    <q-splitter
      v-model="splitterModel"
      :limits="[6, 15]"
      before-class="overflow-hidden"
      after-class="overflow-hidden"
      separator-class="bg-black"
      style="height: 100%"
    >
      <template v-slot:before>
        <q-tabs
          v-if="splitterModel <= 6"
          v-model="tab"
          vertical
          :active-color="$appConfig.color"
          :indicator-color="$appConfig.color"
          no-caps
          inline-label
          class="text-grey-8 shadow-2 text-capitalize"
        >
          <q-tab
            name="all"
            class="text-capitalize"
            :label="'all (' + records.length + ')'"
            icon="layers"
            style="justify-content:initial"
            exact
          />
        </q-tabs>
        <q-tabs
          v-else
          v-model="tab"
          vertical
          :active-color="$appConfig.color"
          :indicator-color="$appConfig.color"
          no-caps
          inline-label
          class="text-grey-8 shadow-2"
        >
          <q-tab
            name="all"
            class="text-capitalize"
            icon="layers"
            :label="'all (' + records.length + ')'"
            style="justify-content:initial"
            exact
          />
        </q-tabs>
      </template>
      <!-- <template dense v-slot:separator>
        <q-avatar :color="$appConfig.color" dense text-color="white" size="md" icon="drag_indicator" />
      </template>-->
      <template class="justify-center" v-slot:after>
        <q-tab-panels
          v-model="tab"
          animated
          transition-prev="jump-up"
          transition-next="jump-up"
        >
          <q-tab-panel name="all">
            <q-table
              class="text-capitalize"
              title="all data"
              :data="data"
              :columns="columns"
              :pagination.sync="pagination"
              row-key="id"
              :filter="filter"
              flat
              :color="$appConfig.color"
              borderless
              binary-state-sort
              :loading="loading"
            >
              <template v-slot:top="props">
                <strong
                  style="font-size: 20px;
    letter-spacing: .005em;
    font-weight: 400;"
                  >{{ tableTitle }} {{ store.name }} Records</strong
                >

                <q-space />

                <q-input
                  class="rcorners1"
                  borderless
                  autocorrect="off"
                  :color="$appConfig.color"
                  autocomplete="off"
                  debounce="300"
                  v-model="filter"
                  placeholder="Search"
                >
                  <template v-slot:append>
                    <q-icon name="search" />
                  </template>
                </q-input>

                <q-btn
                  flat
                  :color="$appConfig.color"
                  dense
                  :icon="props.inFullscreen ? 'fullscreen_exit' : 'fullscreen'"
                  @click="props.toggleFullscreen"
                  class="q-ml-md"
                />
                <q-btn
                  flat
                  :color="$appConfig.color"
                  dense
                  icon-right="archive"
                  label="Export"
                  no-caps
                  @click="exportTable"
                />
              </template>
              <template v-slot:loading>
                <q-inner-loading showing :color="$appConfig.color" />
              </template>
            </q-table>
          </q-tab-panel>
          <q-tab-panel
            v-for="district in districts"
            :key="district.id"
            :name="district.id"
          >
            <q-table
              class="text-capitalize"
              title="all data"
              :data="data"
              :columns="columns"
              :pagination.sync="pagination"
              row-key="id"
              :filter="filter"
              flat
              :color="$appConfig.color"
              borderless
              binary-state-sort
              :loading="loading"
            >
              <template v-slot:top="props">
                <q-space />

                <q-input
                  class="rcorners1"
                  borderless
                  autocorrect="off"
                  :color="$appConfig.color"
                  autocomplete="off"
                  debounce="300"
                  v-model="filter"
                  placeholder="Search"
                >
                  <template v-slot:append>
                    <q-icon name="search" />
                  </template>
                </q-input>

                <q-btn
                  flat
                  :color="$appConfig.color"
                  dense
                  :icon="props.inFullscreen ? 'fullscreen_exit' : 'fullscreen'"
                  @click="props.toggleFullscreen"
                  class="q-ml-md"
                />
                <q-btn
                  flat
                  :color="$appConfig.color"
                  dense
                  icon-right="archive"
                  label="Export"
                  no-caps
                  @click="exportTable"
                />
              </template>
              <template v-slot:loading>
                <q-inner-loading showing :color="$appConfig.color" />
              </template>
            </q-table>
          </q-tab-panel>
        </q-tab-panels>
      </template>
    </q-splitter>
  </q-page>
</template>
<script>
import { mapState, mapActions, mapGetters } from "vuex";
import { exportFile } from "quasar";

function wrapCsvValue(val, formatFn) {
  let formatted = formatFn !== void 0 ? formatFn(val) : val;

  formatted =
    formatted === void 0 || formatted === null ? "" : String(formatted);

  formatted = formatted.split('"').join('""');
  /**
   * Excel accepts \n and \r in strings, but some other CSV parsers do not
   * Uncomment the next two lines to escape new lines
   */
  // .split('\n').join('\\n')
  // .split('\r').join('\\r')

  return `"${formatted}"`;
}
export default {
  data() {
    return {
      tab: "all",
      ratio: 16 / 9,
      medium: false,
      splitterModel: 15,
      pagination: {
        rowsPerPage: 10
      },
      filter: "",
      tableTitle: "",
      id: "",
      store: {},
      profile: {},

      columns: [
        {
          align: "left",
          name: "createdon",
          label: "Recorded On",
          field: row =>
            this.$moment(row.createdon).format("MMMM DD YYYY, h:mm:ss A"),
          sortable: true
        },
        {
          name: "name",
          align: "left",
          label: "Name",
          field: "name",
          sortable: true
        },
        {
          name: "phone",
          label: "Phone",
          align: "center",
          field: "phone",
          sortable: true
        }
      ],
      loading: true,
      data: [],
      records: [],
      districts: []
    };
  },
  computed: {
    ...mapGetters({ getByDistrictId: "dataStores/getByDistrictId" }),
    ...mapGetters({ user: "session/getUser" })
  },
  methods: {
    ...mapActions({ getStores: "dataStores/get" }),
    ...mapActions({ getDataRecords: "dataStores/getRecords" }),
    ...mapActions({ getAdmin2s: "boundaries/getCleanAdmin2s" }),
    exportTable() {
      // naive encoding to csv format
      const content = [this.columns.map(col => wrapCsvValue(col.label))]
        .concat(
          this.data.map(row =>
            this.columns
              .map(col =>
                wrapCsvValue(
                  typeof col.field === "function"
                    ? col.field(row)
                    : row[col.field === void 0 ? col.name : col.field],
                  col.format
                )
              )
              .join(",")
          )
        )
        .join("\r\n");

      const status = exportFile(
        this.store.name + "(" + this.$moment().format("DD_MM_YYYY") + ").csv",
        content,
        "text/csv"
      );

      if (status !== true) {
        this.$q.notify({
          message: "Browser denied file download...",
          color: "negative",
          icon: "warning"
        });
      }
    }
  },
  beforeMount() {
    this.id = this.$route.params.id;
    this.getStores(this.id).then(response => {
      this.store = response;
      this.store.fields.forEach(element => {
        this.columns.push({
          label: element.name + "(" + element.narrative + ")",
          name: element.id,
          align: "center",
          field: element.id,
          sortable: true
        });
      });
      // //console.log(this.store.fields[0].name);
      // if (this.store.fields[0].name === "Wind speed") {
      //   this.columns.pop();
      // } else {
      //   this.columns;
      // }
    });
    this.getDataRecords(this.id).then(response => {
      console.log(response);
      response.forEach(item => {
        var record = {
          name: item.account.name,
          phone: item.phone,
          createdon: item.createdon,
          //in the case of wind telemetry data
          //direction: item.values[0].direction
        };
        let direction = record.direction;

        if (direction !== null && direction !== undefined) {
          item.values.forEach((item, index, arr) => {
            if (index === 0) {
              record[item.fieldId] = item.value + " " + direction;
            }
          });
        } else {
          item.values.forEach(item => {
            record[item.fieldId] = item.value;
          });
        }
        this.data.push(record);
      });

      this.records = response;
      if (response == "") {
        this.loading = false;
        return;
      }
      var district_id = response[0].admin2Id;

      this.getAdmin2s(district_id).then(response => {
        this.districts = response;
        this.tableTitle = response.properties.ADM2_EN;
        //console.log(this.tableTitle);
      });

      this.loading = false;
    });
  }
};
</script>

<style lang="scss">
.height {
  height: 10px;
}
.rcorners1 {
  border-radius: 25px;
  background: rgb(229, 229, 229);
  padding: 20px;
  width: 250px;
  height: 10px;
}
</style>
