<template>
  <q-layout view="lHh Lpr fff">
    <q-page-container >
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
export default {
  name: "MainLayout",
  data() {
    return {
    }
  }
};
</script>