<template>
  <div>
    <q-btn flat dense icon="ballot" @click="show()" class="q-ml-md">
      +
      <q-tooltip>create new store</q-tooltip>
    </q-btn>
    <q-dialog
      ref="dialog"
      transition-show="slide-up"
      transition-hide="slide-down"
      persistent
      @hide="close"
    >
      <q-card class="q-dialog-plugin" style="width: 30vw; max-width: 50vw;">
        <q-bar :class="'bg-'+$appConfig.color+' text-white'">
          <div>create new store</div>
          <q-space />
          <q-btn dense flat icon="close" v-close-popup>
            <q-tooltip :content-class="'text-'+$appConfig.color+' bg-white'">Close</q-tooltip>
          </q-btn>
        </q-bar>

        <q-card-section>
          <q-form @submit="submit" @reset="reset" class="q-gutter-md">
            <q-input
              filled
              :color="$appConfig.color"
              dense
              v-model="fmodel.name"
              label="Full name *"
              lazy-rules
              :rules="[ val => val && val.length > 0 || 'Please enter valid store  name']"
            />
            <fields-item-list v-bind:items="fmodel.fields"></fields-item-list>
            <fields-create-item  v-if="fmodel.fields.length < 3" v-on:create-item="FieldsCreateItem"></fields-create-item>

            <q-input
              dense
              v-model="fmodel.description"
              :color="$appConfig.color"
              label="Description"
              filled
              type="textarea"
            />
            <div align="right">
              <q-btn label="Reset" type="reset" :color="$appConfig.color" flat class="q-ml-sm"></q-btn>
              <q-btn label="Submit" type="submit" :color="$appConfig.color" class="q-ml-sm"></q-btn>
            </div>
          </q-form>
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import fieldsItemList from "./fields/list";
import fieldsCreateItem from "./fields/create";
export default {
  props: {},
  components: {
    fieldsItemList,
    fieldsCreateItem
  },
  data() {
    return {
      fmodel: {
        name: "",
        fields: [],
        description: ""
      }
    };
  },

  methods: {
    show() {
      this.$refs.dialog.show();
    },
    hide() {
      this.$refs.dialog.hide();
    },
    close() {
      this.$emit("hide");
    },
    FieldsCreateItem(item) {
      this.fmodel.fields.push(item);
    },
    submit() {
      //emit
      this.$emit("create-store", this.fmodel);
      //hide
      this.hide();
      //reset
      this.reset();
    },
    reset() {
      this.fmodel = {
        name: "",
        fields: [],
        description: "",
        is_active: true
      };
    },
    cancel() {
      this.hide();
    }
  }
};
</script>