<template>
  <q-form @submit="submit" class="q-gutter-md">
    <div class="q-gutter-md row q-pa-xs">
      <q-input
        filled
        class="col-3"
        :color="$appConfig.color"
        dense
        v-model="fmodel.name"
        label="Full name *"
        lazy-rules
        :rules="[ val => val && val.length > 0 || 'Please enter valid store  name']"
      />
      <fields-item-list class="col-8" v-bind:items="fmodel.fields"></fields-item-list>
      <fields-create-item
        class="col-8"
        v-if="fmodel.fields.length < 3"
        v-on:create-item="FieldsCreateItem"
      ></fields-create-item>

      <q-input
        dense
        class="col-6"
        v-model="fmodel.description"
        :color="$appConfig.color"
        label="Description"
        filled
        type="textarea"
      />
    </div>

    <q-separator class="q-my-md" />
    <div class="q-pt-lg q-pb-lg" align="left">
      <q-btn label="Save" type="submit" :color="$appConfig.color" class="q-ml-sm"></q-btn>
    </div>
  </q-form>
</template>
<script>
import { mapGetters, mapState, mapActions } from "vuex";
import fieldsItemList from "./fields/list";
import fieldsCreateItem from "./fields/create";
export default {
  props: ["store"],
  components: {
    fieldsItemList,
    fieldsCreateItem
  },
  data() {
    return {
      store_types: [],
      fmodel: {
        name: "",
        fields: [],
        description: ""
      }
    };
  },
  watch: {
    store: function(val) {
      if (val.id != "") {
        this.fmodel = JSON.parse(JSON.stringify(this.store));
      }
    }
  },
  methods: {
    FieldsCreateItem(item) {
      this.fmodel.fields.push(item);
    },
    submit() {
      this.$emit("update-store", this.fmodel);
    }
  },
  beforeMount() {}
};
</script>