<template>
  <q-form @submit="submit" class>
    <q-card flat style="width:100%;">
      <q-card-section class="row q-ma-sm">
        <div class="row col-10 q-gutter-xs">
          <q-input
            filled
            dense
            class="col-11"
            v-model="fmodel.name"
            label="Name"
            :color="$appConfig.color"
            hint=" "
            lazy-rules
            :rules="[ val => val && val.length > 0 || 'Please enter valid organization name']"
          />

          <q-input
            v-model="fmodel.narrative"
            dense
            type="textarea"
            class="col-11"
            :color="$appConfig.color"
            label="Narrative"
            hint=" "
            filled
          />
        </div>
        <div class="col-2">
          <q-btn size="md" dense label="update" type="submit" :color="$appConfig.color"></q-btn>
        </div>
      </q-card-section>
    </q-card>
  </q-form>
</template>
<script>
import { mapGetters, mapState, mapActions } from "vuex";
export default {
  props: ["data"],
  data() {
    return {
      fmodel: {},
      is_option: false
    };
  },
  watch: {
    fmodel: function(val) {
      if (typeof val.optionTypeId != "undefined") {
        this.is_option = true;
      }
    }
  },
  methods: {
    submit() {
      this.$emit("update-data", this.fmodel);
    }
  },
  beforeMount() {
    this.fmodel = JSON.parse(JSON.stringify(this.data));
  }
};
</script>