<template>
  <div>
    <q-btn color="primary" icon="add" label="Add new option" @click="show()" class="q-ml-md">
      <q-tooltip>create new ussd option</q-tooltip>
    </q-btn>
    <q-dialog
      ref="dialog"
      transition-show="slide-up"
      transition-hide="slide-down"
      persistent
      @hide="close"
    >
      <q-card class="q-dialog-plugin">
        <q-bar :class="'bg-'+$appConfig.color+' text-white'">
          <div>create new option</div>
          <q-space />
          <q-btn dense flat icon="close" v-close-popup>
            <q-tooltip :content-class="'bg-white text-'+$appConfig.color+''">Close</q-tooltip>
          </q-btn>
        </q-bar>

        <q-card-section>
          <q-form @submit="submit" @reset="reset" class="q-gutter-md">
            <q-input
              filled
              dense
              :color="$appConfig.color"
              v-model="fmodel.name"
              label="Name *"
              lazy-rules
              :rules="[ val => val && val.length > 0 || 'Please enter valid option name']"
            />
          
            <q-select
              dense
              filled
              :color="$appConfig.color"
              v-model="type"
              label="Type"
              :options="types"
              stack-label
              option-value="id"
              :option-label="opt => opt.name"
              required
            />

            <q-input v-show="is_text" dense v-model="fmodel.narrative" label="Narrative" filled type="textarea" />


            <div align="right">
              <q-btn label="Reset" type="reset" :color="$appConfig.color" flat class="q-ml-sm"></q-btn>
              <q-btn label="Submit" type="submit" :color="$appConfig.color" class="q-ml-sm"></q-btn>
            </div>
          </q-form>
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import { mapGetters, mapState, mapActions } from "vuex";
export default {
  props: ["menu"],
  data() {
    return {
      types: [],
      type: null,
      is_text: false,
      fmodel: {
        name: null,
        narrative: null,
        is_service: false,
        menuId: null,
        serviceId: null
      }
    };
  },
  methods: {
    ...mapActions({ getTypes : "ussdMenu/getTypes" }),
    show() {
      this.$refs.dialog.show();
    },
    hide() {
      this.$refs.dialog.hide();
    },

    close() {
      this.$emit("hide");
    },

    submit() {
      this.fmodel.menuId = this.menu.id;
      this.fmodel.optionType = this.type;
      //emit
      this.$emit("create-option", this.fmodel);
      //hide
      this.hide();
      //reset
      this.reset();
    },
    reset() {
      this.type = null;
      this.fmodel = {
        name: "",
        optionTypeId: null,
        name_short: "",
        description: "",
        icon: "",
        is_active: true
      };
    },
    cancel() {
      this.hide();
    }
  },
   watch: {
    type: function(val) {
      if (val != null) {
        if (val.name != "text") {
          this.is_text = false;
        } else {
           this.is_text = true;
          this.fmodel.narrative = null;
        }
      }
    }
  },
  beforeMount() {
    this.getTypes().then(response => {
      this.types = response;
    });
  }
};
</script>