<template>
  <div class="q-pa-md q-gutter-sm">
    <!-- <q-input ref="filter" filled v-model="filter" label="Filter">
      <template v-slot:append>
        <q-icon v-if="filter !== ''" name="clear" class="cursor-pointer" @click="resetFilter" />
      </template>
    </q-input>-->

    <q-splitter v-model="splitterModel" style="height:90%">
      <template v-slot:before>
        <div class="q-pa-md">
          <q-tree
            :nodes="simple"
            node-key="id"
            selected-color="primary"
            :selected.sync="selected"
            default-expand-all
          />
        </div>
      </template>

      <template v-slot:after>
        <q-tab-panels
          v-model="selected"
          animated
          transition-prev="jump-up"
          transition-next="jump-up"
        >
          <q-tab-panel name="1">
            <div class="text-h6 q-mb-md">Main menu</div>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis praesentium cumque magnam odio iure quidem, quod illum numquam possimus obcaecati commodi minima assumenda consectetur culpa fuga nulla ullam. In, libero.</p>
            <p>
               <create-option v-on:create-option="create"></create-option>
            </p>
          </q-tab-panel>
          <q-tab-panel name="2">
            <div class="text-h6 q-mb-md">Welcome</div>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis praesentium cumque magnam odio iure quidem, quod illum numquam possimus obcaecati commodi minima assumenda consectetur culpa fuga nulla ullam. In, libero.</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis praesentium cumque magnam odio iure quidem, quod illum numquam possimus obcaecati commodi minima assumenda consectetur culpa fuga nulla ullam. In, libero.</p>
          </q-tab-panel>
        </q-tab-panels>
      </template>
    </q-splitter>
  </div>
</template>
<script>
import { mapGetters, mapState, mapActions } from "vuex";
import createOption from "./create";
import { QSpinnerGrid } from "quasar";
import { notification } from "../../../../../../mixins/notification";
export default {
  props: ["organization"],
    mixins: [notification],
   components: {
    createOption
  },
  data() {
    return {
      filter: "",
      splitterModel: 50,
      selected: "1",
      simple: [
        {
          id: "1",
          label: "Menu",
          icon: "home",
          children: [
            {
              id: "2",
              label: "Welcome (TXT)",
              icon: "textsms"
            },
            {
              id: "3",
              label: "Collect temperature readings (D-STR)",
              icon: "ballot"
            },
            {
              id: "4",
              label: "Get temperature information (D-SRC)",
              icon: "move_to_inbox"
            }
          ]
        }
      ]
    };
  },
  methods: {
    create()
    {

    },
    resetFilter() {
      this.filter = "";
      this.$refs.filter.focus();
    }
  },
  beforeMount() {}
};
</script>